/* Fonts are loaded separately and in parallel for network performance   */

@font-face { font-display: swap; font-family: 'AstroSpace'; src: url(../font/AstroSpace-eZ2Bg.ttf);  font-weight: bold; }
@font-face { font-display: swap; font-family: 'FASolid'; src: url(../font/fa-solid-900.woff2) }
@font-face { font-display: swap; font-family: 'NotoSans'; src: url(../font/NotoSans-Regular.ttf) }