
/*https://developers.google.com/maps/documentation/javascript/place-autocomplete#style-autocomplete*/

/* The visual element containing the list of predictions returned by the Place Autocomplete service. This list appears as a dropdown list below the Autocomplete or SearchBox widget.*/
.pac-container { display: block; width: 30%;}

/* The icon displayed to the left of each item in the list of predictions.*/
.pac-icon {}

/* An item in the list of predictions supplied by the Autocomplete or SearchBox widget.*/
.pac-item {}

/* The item when the user hovers their mouse pointer over it.*/
.pac-item:hover 	

/* The item when the user selects it via the keyboard. Note: Selected items will be a member of this class and of the pac-item class.*/
.pac-item-selected 	

/* A span inside a pac-item that is the main part of the prediction. For geographic locations, this contains a place name, like 'Sydney', or a street name and number, like '10 King Street'. For text-based searches such as 'pizza in New York', it contains the full text of the query. By default, the pac-item-query is colored black. If there is any additional text in the pac-item, it is outside pac-item-query and inherits its styling from pac-item. It is colored gray by default. The additional text is typically an address.*/
.pac-item-query 	

/* The part of the returned prediction that matches the user’s input. By default, this matched text is highlighted in bold text. Note that the matched text may be anywhere within pac-item. It is not necessarily part of pac-item-query, and it could be partly within pac-item-query as well as partly in the remaining text in pac-item.*/
.pac-matched {}

.pac-target-input {
	border: none;
	border-radius: 2em;
	display: block;
	font-size: inherit;
	height: 2em;
	margin: 1em;
	padding: 0.6em 0.6em 0.6em 2em;
	width: 30%;
}


/*style the box which holds the text of the information window*/  
.gm-style div { display: block; }
.gm-style .gm-style-iw {
	display: flex;
	flex-direction: row-reverse;
	padding: 0em 2em 0em 0em;
}
.gm-style-iw-chr {
	position: absolute;
	right: -0.8em;
	top: -2em;
	vertical-align:
	top; margin: 0px;
	padding: 0px;
} 
.gm-style-iw-d {
    margin: 1em; 
    text-align: center;
}

div#map {
	align-items: center;
	display: none;
	height: 30em;
	position:absolute;
/*	top:1.8em;*/
	z-index: 4
}

.map-close {
	align-items: center;
	background-color: #ffffff;
	cursor: pointer;
	display: flex;
	font-size: 20px;
	margin: 0.5em;
	padding: 0.4em 0.6em 0.4em 0.6em;
}
