/* --- Overall --- */
:root {  /* --- Colors --- */
--color-active-1:#e09900; --color-active-2:#c6d2e6; --color-alert: yellow; --color-backdrop: #f0f0f0; --color-blue: #2b78e4; --color-checked: #d8dfed; --color-disabled-bdr: #cccccc; --color-disabled-bkg: #cccccc; --color-disabled-txt: #999999; --color-error: #ff0000; --color-grey-3:#333333; --color-grey-c: #cccccc; --color-qwik: #f5a600; --color-qwik-dn: #d8dfed; --color-qwik-up: #ffb10a; --color-stencil: white;  /* --- Dimensions --- */ --dim-ease: 0.3rem; --dim-max-width: 80rem; }
* { }
html { height: 100%; }
body { align-items: center; background-color: var(--color-backdrop); display: flex; flex-direction: column; font-family: NotoSans; height: 100vh; padding: 0; }
div { align-items: stretch; display: flex; flex-direction: column; overflow: hidden; }
div[hidden] { display: none !important; }

/* --- Structure --- */
#content { align-items: right; flex: 1 0 auto; flex-direction: row; justify-content: center; margin: 4em 0 0 0; max-width: var(--dim-max-width); width: 100%; }
#detail { flex: 2 40rem; gap: 1rem; padding: 0 1rem 10rem 1rem; }
#feedback { align-items: center; border: 1px dashed var(--color-qwik); flex: auto; margin: 0.3em 0.3em 4em 0.3em; max-height: 4em; max-width: var(--dim-max-width); padding: 0em 3em; }
#feedback:has(input:checked) { max-height: 40em; }
#feedback label { margin: 1em 0 0 0; }
#filler { flex-grow: 1; }
#footer { font-size: small; justify-content: end; }
#list_bar { align-items: start; border-style: solid; border-width: 0 0.1rem 0 0; flex: 1 20rem; justify-content: start; }
#tab_bar { align-items: center; background-color: var(--color-backdrop); border-width: 0 0 1px 0; border-style: solid; flex-direction: row; gap: 1em; height: 4em; justify-content: space-between; max-width: var(--dim-max-width); opacity: 1.0; position: fixed; top: 0; width: 100%; z-index: 100; }

/* --- Responsive media rules --- */
@media only screen and (max-width:600px) {
  #detail { flex-basis: 100%; }
  #logo_tab { display: none; }
  div.flex_space { display: none }
  span.fat { display: none }
  span.full_day { display: none }
  span.mid_day { display: none }
}
@media only screen and (min-width:600px) {
  #detail { flex-basis: 100%; }
  #logo_tab { display: none; }
  div.flex_space { display: none }
  span.fat { display: none }
  span.full_day { display: none }
  span.mid_day { display: inline-block }
}
@media only screen and (min-width:768px) {
  #logo_tab { display: block; }
  div.flex_space { display: block }
  span.fat { display: block }
  span.full_day { display: inline-block }
  span.mid_day { display: inline-block }
}
@media only screen and (min-width:992px) { }
@media only screen and (min-width:1200px) { }

/* --- Forms --- */
form { align-items: stretch; display: flex; gap: 0; flex-direction: column; }
form > div { background-color: var(--color-stencil); box-shadow: 0 0 0.6rem 0.2rem rgba(0, 0, 0, .10); margin: 0.4rem; min-height: 1rem; }
form > div:hover { background-color: var(--color-backdrop); }
form > div:last-child { align-items: center; background-color: inherit; box-shadow: none; }
form > div:with(field.naked) { background-color: inherit; box-shadow: none; }
form.plank { flex-direction: row; }
form.plank > div { background-color: inherit; box-shadow: none; flex-direction: row; gap: 0.3rem; flex-wrap: nowrap; justify-content: stretch; }

/* position legend identical to div.label */
legend { position: relative; top: 1.6em; }

/* div.field and fieldset are treated in identical fashion */
div.field, fieldset { align-items: start; padding: 2rem; }
div.field.disabled, fieldset.disabled { background-color: var(--color-disabled-bkg); border-color: var(--color-disabled-bdr); color: var(--color-disabled-txt); }
div.field > div, fieldset > div { align-items: start; gap: 1rem; }
div.field > div.label, fieldset > legend { font-size: 1.25rem; }
div.field > *:not(div.label), fieldset > *:not(legend) { padding: 0 2rem; max-height: 0; transition: max-height 1s ease; }
div.field.open > *:not(div.label), fieldset.open > *:not(legend) { max-height: 100rem; }
div.field > div.label div, fieldset > legend div { flex-direction: row; gap: 0.5rem; }
div.field span.label, fieldset span.label { font-weight: bold; text-transform: capitalize; }

/* label.option used in CheckboxList Widget */
label.option { align-items: center; display: flex; flex-direction: row; gap: 2rem; width: 100%; }
label.option:has(input[type=checkbox])::before { content: none; }
label.option:has(input[type=checkbox]:checked) { display: none; }
label.option:has(input:checked) { color: var(--color-qwik); }

/* div.prompt to prompt Player to book Venue in KeenForm */
div.prompt { background-color: var(--color-backdrop); border: 1px solid var(--color-backdrop); border-radius: var(--dim-ease); box-shadow: 0 0 10px 3px rgba(0, 0, 0, .10); color: #3b3b3b; margin: 1.5rem; max-width: 75%; padding: 0.5rem; text-wrap: wrap; }
div.prompt.hidden { display: none; }
div.prompt div { color: #3b3b3b; flex-direction: column; flex-shrink: 1; min-width: 0; }
div.prompt p.info { color: var(--color-grey-3); font-size: 1rem; text-wrap: wrap; }
div.prompt .identicon svg { height: 4rem; }

/* match chat */
div.chat_bubble { align-items: start; background-color: var(--color-stencil); border-radius: 2rem; gap: 1rem; max-width: 66%; min-width: 10rem; padding: 1rem; }
div.chat_bubble .row { flex-direction: row; gap: 1rem; justify-content: space-between; }
div.chat_bubble .text { }
div.chat_bubble .row:has(time) { margin-left: auto }
div.chat_input { flex: 2;  }
div.chat_input div { align-items: center; flex-direction: row; flex-grow: 1; padding: 0; }



label p { flex: auto; }
label.hidden { display: none }
label.large { border: 1px solid var(--color-backdrop); padding: 1rem; width: 100% }
label.reveal { border-color: var(--color-stencil); margin: 3rem 0 0 0; padding: 1rem 1rem 1rem 0; }
label.reveal > input { display: none; }
label.reveal:active { box-shadow: none; transform: none; }
label.reveal:has(input) ~ div { display: none; }
label.reveal:has(input:checked) ~ div { display: flex; }
label.reveal { display: inline-block; }
label.switch { display: inline-block; height: 2.6rem; margin-right: 3rem; position: relative; width: 4rem }
label.switch input { display: none }
label.toggle input { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0 }

/* --- Inputs --- */
div:has(> input) { align-self: stretch; justify-content: stretch; }
input[type=checkbox] { margin: 0 1rem 0 1rem; }
input[type=submit] { cursor: pointer; flex: 0 0 auto; flex-direction: row; gap: 0.3rem; justify-content: center; text-align: center }
input[type=text] { flex: 1 1 auto; font-size: inherit; padding: 0 0.5rem; }
input:checked + .slider { background-color: #66bb6a; }
input:checked + .slider:before { transform: translateX(3rem); }
input.btn { position: relative; }
input.strength { display: flex; flex: 1 1 100%; height: 2rem; margin: 1rem 0 1rem 0; width: 100% }
input.disabled { background-color: var(--color-disabled-bkg); color: var(--color-disabled-txt); }

/* Over-ride std checkbox */
input[type=checkbox] { display: none; }
label:has(input[type=checkbox])::before { content: ''; border: 1px solid var(--color-grey-c); color: #f3f3f3; display: inline-block; font-size: 1.8rem; height: 1.2rem; line-height: 1rem; margin: .2rem .4rem .2rem 0; text-align: center; vertical-align: middle; width: 1.2rem; }
label:has(input[type=checkbox]:checked)::before { color: var(--color-qwik); content: "\2714"; }

/* Over-ride std radio */
input[type=radio] { display: none; }
label:has(input[type=radio])::before { content: ''; border: 1px solid var(--color-grey-c); border-radius: 50%; color: #f3f3f3; display: inline-block; font-size: 2rem; height: 1.2rem; line-height: 1rem; margin: .2rem .4rem .2rem 0; text-align: center; width: 1.2rem; vertical-align: middle; }
label:has(input[type=radio]:checked)::before { content: "\2022"; color: var(--color-qwik); content: "\2714"; }

/* range slider */
input[type=range] { accent-color: var(--color-qwik); display: flex; flex: 1 1 100%; height: 2rem; margin: 1rem 0 1rem 0; width: 100% }
div.range_options { flex-direction: row; gap: 1rem; justify-content: space-between; padding: 1rem 0 0 0; width: 100% }
div.range_options .option { text-align: center }
div.slider { background-color: #ccc; border-radius: 2.5rem; bottom: 0; cursor: pointer; left: 0; position: absolute; right: 0; top: 0; transition: .4s; width: 5.6rem; }
div.slider:before { aspect-ratio: 1/1; background-color: #fff; border-radius: 50%; bottom: 0.2rem; content: ""; left: 0.2rem; position: absolute; transition: .4s; width: 2.2rem }
div.slide_labels { gap: 1rem; justify-content: space-between; width: 100% }
div.slide_label { text-align: center }

/* --- Buttons --- */
.btn { align-items: center; border: 1px solid var(--color-grey-3); border-radius: var(--dim-ease); color: black; cursor: pointer; display: flex; flex-direction: row; font-weight: 550; gap: 0.3rem; justify-content: center; margin: 0.3rem; min-height: 3rem; padding: 1.25rem 1.5rem; text-decoration: none; text-overflow: ellipsis; }

/* hide custom checkbox/radio behaviour for label.btn (used extensively) */
label.btn:has(input[type=checkbox])::before { content: none; }
label.btn:has(input[type=radio])::before { content: none; }

/*.btn:focus { outline: 0.2rem solid #fffb00; }*/
.btn:active { box-shadow: inset 1px 2px 5px #777; transform: translateY(1px); }
.btn:active:has(input:disabled) { box-shadow: none; transform: none; }
.btn:has(input.hidden) { display: none }
.btn.primary { background-color: var(--color-qwik); border-color: var(--color-qwik); color: var(--color-grey-3); }
.btn.primary:active { background-color: var(--color-active-1); border-color: var(--color-active-1); }
.btn.primary:has(input:checked) { }
.btn.primary:has(input:disabled) { background-color: var(--color-disabled-bkg); border-color: var(--color-disabled-bdr); color: var(--color-disabled-txt); cursor: default; }
.btn.primary:disabled { background-color: var(--color-disabled-bkg); border-color: var(--color-disabled-bdr); color: var(--color-disabled-txt); }
.btn.secondary { border-color: var(--color-grey-3); color: var(--color-grey-3); }
.btn.secondary:active { border-color: var(--color-active-2) }
.btn.secondary:disabled { border-color: var(--color-disabled-bdr); color: var(--color-disabled-txt); }
.btn.secondary:has(input:checked) { background-color: var(--color-checked); border-color: var(--color-checked); box-shadow: inset 1px 2px 5px #777; transform: translateY(1px); }
.btn.secondary:has(input:disabled) { border-color: var(--color-disabled-bdr); color: var(--color-disabled-txt); }
.btn.tertiary { align-content: center; border-color: var(--color-backdrop); color: var(--color-blue); display: block; min-height: 2rem; padding: 0.3rem; text-decoration: underline; }
.btn.tertiary.menu { text-decoration: none; }
.btn.tertiary:active { background-color: var(--color-active-2); border-color: var(--color-active-2); }
.btn.tertiary:has(input:checked) { }
.btn.tertiary:has(input:disabled) { }
.btn.special1 { border-color: var(--color-qwik); color: var(--color-qwik); font-weight: bold; }
.btn.special1.mobile { border-radius: 50%; bottom: 4rem; height: 6rem; position: fixed; right: 2rem; width: 6rem; z-index: 10; }
.btn.special1:active { background-color: var(--color-active-1); border-color: var(--color-active-1); color: var(--color-stencil) }
.btn.special1:has(input:checked) { }
.btn.special1:has(input:disabled) { border-color: var(--color-disabled-bdr); color: var(--color-disabled-txt); }
.btn.special1:disabled { background-color: var(--color-disabled-bkg); border-color: var(--color-disabled-bdr); }
.btn.special2 { border-color: var(--color-backdrop); color: var(--color-grey-3); flex: 0 1 auto; margin: 0px; padding: 0.5rem 0.5rem; position: relative; text-decoration: none; }
.btn.special2:active { background-color: var(--color-active-2); border-color: var(--color-active-2); }
.btn.special2:has(i:only-child) { aspect-ratio: 1; flex: 0 0 auto; }
.btn.special2:has(input:checked) { background-color: var(--color-checked); border-color: var(--color-checked) }
.btn.special2:has(input:disabled) { border-color: var(--color-disabled-bdr); color: var(--color-disabled-txt); }
.btn.special2.selected { background-color: var(--color-checked); border-color: var(--color-checked); font-weight: bold; }
.btn.special2 .dot { aspect-ratio: 1; background-color: var(--color-blue); border-radius: 50%; position: absolute; right: 0; top: 0; width: 1rem; }
.btn.special2 .identicon { height: 3.6rem; width: 3.6rem; }
@media (hover:hover) {
  .btn.primary:hover { background-color: var(--color-qwik-up); border-color: var(--color-qwik-up); }
  .btn.secondary:hover { background-color: var(--color-qwik-dn); border-color: var(--color-grey-3); }
  .btn.secondary:hover:has(input:disabled) { background-color: var(--color-disabled-bkg); }
  .btn.tertiary:hover { font-weight: bold; }
  .btn.special1:hover { background-color: var(--color-qwik); border-color: var(--color-qwik); color: var(--color-stencil) }
  .btn.special2:hover { background-color: var(--color-qwik-dn); border-color: var(--color-qwik-dn); }
}
.btn.auto { height: auto; width: 100%; }
.btn.hour { height: 3rem; width: 3rem; }
.btn.large { font-size: 1.13rem; }
.btn.loader { color: transparent; }
.btn.naked { border-width: 0; }
.btn.small { font-size: 0.88rem; width: 1rem; }
.btn.square { aspect-ratio: 1 / 1; }
.btn.thin { height: 2rem; margin: 0.1rem; padding: 0.3rem }
.btn.tiny { height: 1rem; padding: 0.8rem; min-height: 1rem; width: 1rem; }
.btn.replicate { background-color: var(--color-backdrop); border-radius: 50%; border-width: 0; color: var(--color-qwik); height: 3rem; padding: 0.3rem; width: 3rem; }
.btn.sml { height: 1.5rem; width: 1.5rem; }
a.btn { position: relative; }
a:has(input:disabled) { pointer-events: none; }

/* --- Loader --- */
.loader::after { align-self: center; position: absolute; content: ""; width: 2rem; aspect-ratio: 1; --_g: no-repeat radial-gradient(farthest-side, #999999 90%, #0000); background: var(--_g), var(--_g), var(--_g), var(--_g); background-size: 40% 40%; animation: l46 1s infinite; }
@keyframes l46 {
  0% { background-position: 0 0, 100% 0, 100% 100%, 0 100% }
  40%, 50% { background-position: 100% 100%, 100% 0, 0    0, 0 100% }
  90%, 100% { background-position: 100% 100%, 0 100%, 0    0, 100% 0 }
}

.align_center { align-self: center }
.align_end { justify-content: end; }
.align_start { align-self: flex-start }
.color { color: var(--color-qwik); }
.cta_desktop { padding: 1rem; width: 100% }
.disabled { border-color: var(--color-disabled-bdr); color: var(--color-disabled-txt); }
.errorlist { color: var(--color-error); }
.head_back { order: 40 }
.head_fwd { order: 50 }
.head_icon { order: 10 }
.head_more { order: 30 }
.head_txt { order: 20 }
.hidden { display: none }
.ellipsis { display: block; text-overflow: ellipsis; white-space: nowrap; }
.identicon { height: 100%; width: auto; }
.item { align-items: start; display: flex; flex-flow: row wrap; justify-content: center; padding: 0.3rem 0.3rem 0.3rem 0; }
.item .badges { align-items: flex-end; display: flex; flex: 0 0 auto; height: 100%; width: 20% }
.item .badges time { margin-top: auto; }
.item .lines { align-items: start; display: flex; flex: auto; width: 75% }
.item div.note { width: 100% }
.item div.notes { flex: 1 1 0; text-overflow: ellipsis; }
.item p { display: inline-block; text-overflow: ellipsis; white-space: nowrap; width: auto }
.item span.note { text-overflow: ellipsis; white-space: nowrap }
.item.unseen { border-left-color: var(--color-qwik); border-left-width: 0.5rem; font-weight: bold }
.item.unseen div.icon { color: var(--color-qwik); }
.invisible { visibility: hidden }
.name { color: var(--color-qwik); font-weight: bold; }
.push_down { margin-top: 4rem; }
.push_left { margin-right: auto }
.push_right { margin-left: auto }
.round { aspect-ratio: 1/1; border-radius: 50%; }
.selected { color: var(--color-qwik); }
.stripes { background: repeating-linear-gradient(45deg, var(--color-qwik), var(--color-qwik), 2px, var(--color-stencil) 3px, var(--color-stencil) 10px); }
.sml { height: 1.5rem; min-height: 0; min-width: 0; width: 1.5rem; }
.todo { display: none; border: 3px dotted var(--color-blue) }
.wall { display: flex; flex-direction: row; flex-wrap: wrap; gap: 1rem; justify-content: center; }
div.alert { display: none; flex: auto; justify-content: start; margin: 0; }
div.banner { flex: none; position: -webkit-sticky; position: sticky; top: 4rem; margin: 0 -1rem 0 -1rem; padding: 1rem; text-align: center; z-index: 20; }
div.banner.active { background-color: var(--color-qwik); }
div.banner.complete { background-color: var(--color-grey-c); }
div.banner.xancelled { background-color: var(--color-alert); }
div.by_day { }
div.context_menu { flex: 0 0 auto; flex-direction: row; justify-content: end; width: 10rem }
div.day { flex: 0 0 auto; flex-grow: 4; height: 2rem; white-space: nowrap }
div.day.fri { grid-column: 1 / 1; grid-row: 5 / 5 }
div.day.mon { grid-column: 1 / 1; grid-row: 1 / 1 }
div.day.sat { grid-column: 1 / 1; grid-row: 6 / 6 }
div.day.sun { grid-column: 1 / 1; grid-row: 7 / 7 }
div.day.thu { grid-column: 1 / 1; grid-row: 4 / 4 }
div.day.tue { grid-column: 1 / 1; grid-row: 2 / 2 }
div.day.wed { grid-column: 1 / 1; grid-row: 3 / 3 }
div.detail_body { }
div.detail_form { }
div.detail_head { border-style: solid; border-width: 0 0 0.1rem 0; flex: 0 0 auto; flex-direction: row; justify-content: start; margin: 0 -1rem 0 -1rem; padding: 1rem }
div.detail_head .identicon { height: 4rem; position: relative; top: 0.7rem; width: 4rem; }
div.detail_n { flex: 0 0 auto; gap: 1rem; }
div.detail_rival { flex-direction: row; flex-wrap: wrap; justify-content: center; width: 100% }
div.down { align-items: start; background-color: white; border: 1px solid var(--color-grey-c); gap: 0.5rem; margin: 0.3rem; min-width: 100%; opacity: 1.0; padding: 0.3rem 1rem 0.3rem 1rem; position: absolute; top: 3.2rem; white-space: nowrap; z-index: 10 }
div.down.left { left: 0; }
div.down.right { right: 0; }
div.down div { justify-content: space-between; padding: 0.3rem; width: 100% }
div.down div.link { justify-content: end; width: auto }
div.down label { align-items: stretch; gap: 1rem; justify-content: space-between; padding: 0.3rem 0 0.3rem 0; text-align: center }
div.down label:has(input:checked) { color: var(--color-qwik); }
div.down label:has(input[type=checkbox])::before { content: none; }
div.down label:has(input[type=radio])::before { content: none; }
div.drop_down { position: relative; right: 0.3rem; }
div.drop_down:has(div.down:empty) { display: none; }
div.drop_down.icon div.down { top: 3rem; width: auto }
div.drop_down.icon div.drop { border-width: 0px; height: auto; }
div.drop { width: 100% }
div.drop_up { }
div.disabled { border-color: var(--color-disabled-bdr); color: var(--color-disabled-txt); }
div.fat { transform: scaleX(1.6); padding: 0 0.2rem 0 0.2rem }
div.flex_space { flex-grow: 3 }
div.grid_2_col { display: grid; grid-template-columns: 1fr 1fr; gap: 1rem; justify-items: center; width: 100% }
div.grid_3_col { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 1rem; justify-items: center; margin: 0.3rem; padding: 1rem 0 0 0; width: 100% }
div.head { align-items: start; flex: auto; padding: 0 1rem 0 1rem; width: 50% }
div.hour_grid { grid-template-columns: repeat(auto-fit, minmax(3rem, max-content)); justify-content: left; overflow: visible; width: 90% }
div.hrs { border: 1px solid black; height: 2rem; justify-content: center }
div.hrs.apm { background-color: var(--color-backdrop); border: 0px solid black; color: white; flex: auto; font-size: xx-large; justify-content: center }
div.icon { align-content: center; border-radius: var(--dim-ease); border: 0px solid black; display: block; flex: 0 0 auto; height: 3rem; justify-content: center; width: 2rem }
div.icon.badge { border: 0.2rem solid var(--color-qwik); color: var(--color-qwik); border-radius: 50%; height: 2.5rem; padding: 0.3rem; width: 2.5rem; }
div.icon.info { border-width: 0.3rem; border-radius: 50%; padding: 0.3rem }
div.icon.medium { height: 3rem; width: 3rem }
div.icon.small { border-width: 0.2rem; height: 2rem; width: 2rem }
div.icon.tiny { border-width: 0.1rem; height: 1rem; width: 1rem }
div.icon .btn.drop { justify-content: center; }
div.info { position: relative }
div.info .info_text { background-color: white; border: 1px solid black; border-radius: var(--dim-ease); font-size: 0.8rem; justify-content: center; opacity: 1; padding: 0.3rem; position: absolute; right: -9rem; text-align: left; top: 150%; width: 20rem; z-index: 2 }
div.info.push_right .info_text { right: 0; text-align: right; }
div.info .info_text::after { border-color: transparent transparent black transparent; border-width: 0.8rem; bottom: 100%; content: " "; position: absolute; right: 9rem; margin-left: -0.8rem; border-style: solid }
div.info.push_right .info_text::after { right: 0; }
div.info_bubble { background-color: var(--color-backdrop); justify-content: flex-start; margin: 0.3rem; padding: 0.3rem }
div.line { flex-direction: row; line-height: 1.6rem; margin: 0; padding-left: 0.5rem; text-overflow: ellipsis; vertical-align: middle; white-space: nowrap; }
div.list { border-width: 0 0.1rem 0 0; flex: 1 1 100%; justify-content: flex-start; padding: 1rem; width: 100% }
div.list_head { border: 1px solid black; border-width: 0 0 0.1rem 0; flex: 0 0 auto; flex-direction: row; justify-content: space-between; margin: 0 -1rem 0 -1rem; padding: 1rem }
div.log_entry { align-items: center; background-color: var(--color-backdrop); border: 0 solid black; box-shadow: none; flex: auto; flex-direction: row; gap: 0.3rem; margin: 0; padding: 0.3rem; width: 100%; }
div.log_entry .icon { height: auto; width: auto; }
div.log_entry .stars { padding: 0; }
div.log_entry.chat { }
div.log_entry.event { }
div.log_entry.match { }
div.logo { font-size: 1.27rem; font-family: AstroSpace; font-weight: bold; padding: 0.1rem; }
div.nextup { align-items: center; flex: auto; justify-content: start; margin: 4rem 0 0 0; padding: 1rem }
div.option { flex-direction: row; justify-content: space-between; }
div.options { background-color: white; border: 1px solid var(--color-grey-c); border-radius: var(--dim-ease); justify-content: flex-start; opacity: 1.0; padding: 0.3rem; position: relative; width: 100% }
div.paver { flex: auto; flex-direction: row; gap: 2rem; justify-content: center; padding: 1rem; }
div.pillar { align-items: center; justify-content: start; padding: 1rem }
div.plank { flex: 0 0 0; flex-direction: row; justify-content: space-around; padding: 1rem; width: 100% }
div.pole { align-items: start; flex: auto; justify-content: start; width: 100% }
div.replicate { border: 1px solid black; margin: 1rem 0 1rem 0; padding: 1rem 0 1rem 2rem; }
div.post { align-items: stretch; justify-content: start; width: 100% }
div.radio_block { display: grid; gap: 1rem; margin: 1rem; }
div.rival_rate_grid { grid-template-columns: 1fr 1fr; flex-direction: row }
div.schedule { display: grid; flex: 1 1 100%; gap: 0.3rem; grid-template-columns: repeat(17, 1fr); grid-template-rows: repeat(7, auto); justify-items: stretch; width: 100% }
div.schedule_body { display: grid }
div.splash { height: 100%; justify-content: center; }
div.stars { flex-direction: row; padding: 1rem; }
div.tab_area div.areas { width: 100%; }
div.tab_area div.areas div.area { width: 100%; }
div.tabs { z-index: 1 }
div.tabs div.tab { float: left; border: none; outline: none; padding: 14px 16px; transition: 0.3s; }
div.tabs div.tab.active { background-color: white; border: 1px solid black; border-bottom: none; position: relative; right: 1px; top: 4px; z-index: 1 }
div.todo { display: none; border: 3px dotted var(--color-blue) }
div.qwikgame { flex-direction: row; font-size: 30px; font-family: AstroSpace; padding: 1rem; }
div.upgrade { border: 1px solid black; padding: 1rem }
div.hidden { display: none }
h1 { color: black; display: flex; flex-direction: row; font-size: 3rem; font-family: AstroSpace; justify-content: center; line-height: 1.4rem; margin: 0.5rem 0; padding: 0 1rem; }
h2 { color: black; display: flex; flex-direction: row; font-size: 1.13rem; justify-content: start; text-align: left; margin: 0.3rem; overflow: hidden; width: 100% }
h3 { color: black; display: flex; flex-direction: row; font-size: 1.13rem; justify-content: start; gap: 1rem; margin: 3rem 0 1rem 0; overflow: hidden; text-align: left; }
h3.show_group { padding: 0 0.3rem 0 0.3rem; }
h3.show_group a { color: blue; justify-content: space-between; text-decoration: underline; }
h4 { color: black; display: flex; flex-direction: row; font-size: 1.13rem; justify-content: space-between; gap: 2rem; margin: 2rem 0 1rem 0; overflow: hidden; text-align: left; margin: 1.5rem 0 0.8rem 0; }
h4 span.caption { align-self: flex-start; font-size: 0.8rem; margin-left: 3rem }
h5 { color: black; font-size: 3rem; font-family: AstroSpace; justify-content: center; line-height: 1.4rem; padding: 0 1rem; }
h6 { font-size: x-large; overflow: hidden; text-align: center; }
hr { color: var(--color-backdrop); border-width: 1px; margin: 0.3rem 0 0.3rem 0; width: 99% }
img.logo { display: block; height: 5rem; padding: 0.1rem }
ol { list-style: decimal; padding-left: 2rem; }
p { margin: 0; padding: 0.3rem; text-align: left }
p.bold { font-weight: bold }
p.large { color: var(--color-grey-3); font-size: large }
p.line { margin: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
p.small { color: var(--color-grey-3); font-size: small }
select { display: block; font-size: 1.13rem; height: 3rem; width: 100% }
span.brick { display: inline-block; white-space: nowrap; width: auto; }
span.chat_show { }
span.flip { transform: rotate(180deg) }
span.icon { border-width: 0px; display: inline-block; text-align: center; width: 2rem }
span.identicon { border-width: 0px; display: inline-block; text-align: center; width: 2rem }
span.on { color: lightseagreen; }
span.off { color: indianred; }
span.qwik { color: var(--color-qwik); }
textarea { border: 1px solid black; display: block }
time { color: var(--color-grey-c); font-size: small; text-align: right; }
ul.leaders { line-height: 2rem; list-style: none; max-width: 40rem; overflow-x: hidden; padding: 0; width: 100%; }
ul.leaders li:before { float: left; width: 0; white-space: nowrap; content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "; }
ul.leaders span:first-child { background: white; padding-right: 0.33rem; }
ul.leaders span + span { background: white; float: right; padding-left: 0.33rem; }
#infowindow_mark_place { overflow: hidden; }
#license { flex-shrink: 0; }

