<!-- templates/registration/email_validate_form.html -->
{% extends "qwik.html" %}
{% load static %}


{% block icon_bar %}
{% if user.is_authenticated %}
    {{ block.super }}
{% else %}
    <div class="pillar">
        <div class="qwikgame">
            <span class="fat"><span class="qwik">QWIK</span>GAME</span>
        </div>
    </div>
{% endif %}
{% endblock icon_bar %}


{% block list_bar %}{% endblock list_bar %}

{% block content %}
  <div class="pillar">
    <h2>Welcome to qwikgame</h2>
    <p class="fat">
        <img class="logo href" src="{% static 'img/qwik-logo.jpg' %}" data-href="{% url 'welcome' %}">
    </p>
    {% block instructions %}{% endblock instructions %}
  </div>

{% endblock content %}
