<!-- templates/registration/login.html -->
{% extends "qwik.html" %}


{% block icon_bar %}
{% if user.is_authenticated %}
    {{ block.super }}
{% else %}
    <div class="plank">
        <h1>qwikgame</h1>
        <h1>Authenticate</h1>
        <h1></h1>
    </div>
{% endif %}
{% endblock icon_bar %}



{% block list_bar %}{% endblock list_bar %}


{% block detail %}
{% if user.is_authenticated %}
    <div class="paver">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button class="btn secondary" type="submit">Log Out</button>
        </form>
    </div>
{% else %}
    <div class="paver">
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <button class='btn primary' type="submit">Log In</button>
        </form>
    </div>
{% endif %}
{% endblock detail %}
