<!-- templates/registration/register_form.html -->
{% extends "registration/email_validate_form.html" %}
{% load static %}


{% block instructions %}
    <h2>Sign up</h2>
    <div class="pillar push_down">
      <p>We can send instructions to create your qwikgame account.</p>
    </div>
    <form method="post">{% csrf_token %}
      <div class="pillar push_down">
  {{ form.email.errors }}
        <label for="id_email">Email address</label>
  {{ form.email }}
      </div>
      <div class="pillar push_down">
          <label class="btn primary">
              <input type="submit" hidden>
              Send
          </label>
        </div>
      </div>
    </form>
    <div class="pillar push_down">
      <a class="btn tertiary" href="{% url 'login' %}">
          login
      </a>      
    </div>
{% endblock instructions %}