<!-- templates/registration/register_form.html -->
{% extends "registration/email_validate_form.html" %}
{% load static %}


{% block detail %}
    <p>Already have an account? <a class="btn tertiary" href="{% url 'login' %}">login</a></p>
    <div class="post push_down">
        <form method="post">
  {% csrf_token %}
  {{ form.email.errors }}
  {{ form.email }}
  {{ form.password }}
            <p>We will send you a verification link to login</p>
            <div class="pillar push_down">
                <label class="btn primary">
                    <input type="submit" hidden>
                    Sign up
                </label>
            </div>
        </form>
    </div>
{% endblock detail %}