<!-- qwikgame/player/templates/accept/accept.html -->
{% extends "appeal/appeals.html" %}


{% block title %}Reply{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
    <div id="detail" class="detail">
        <div id="alert_detail_start" class="alert"></div>
        <div class="detail_head">
            <div id="alert_detail_head" class="alert"></div>
            <div class="icon">
                <i class="fa-solid fa-paper-plane fa-2x"></i>
            </div>
            <div class='head'>
                <p class="line">
                    <span class="icon">
                        <i class="fa-solid {{ appeal.game.icon }} fa-1x"></i>
                    </span>
                    {{ appeal.game }}
                </p>
                <p class="line">
                    <span class="icon">
                        <i class="fa-solid fa-calendar fa-1x"></i>
                    </span>
                    {{ appeal.date }}, {{ appeal.hours24 }}
                </p>
                <p class="line">
                    <span class="icon">
                        <i class="fa-solid fa-location-dot fa-1x"></i>
                    </span>                    
                    <a href="https://www.google.com/maps/search/?api=1&query=Google&query_place_id={{ appeal.venue.placeid }}" target="_blank">{{ appeal.venue.place_str }}</a>
                </p>
            </div>
            <div class="context_menu">
                <div class="drop_down head_more">
                    <div class="btn special2 drop" data-down="false">
                        <i class="fa-solid fa-ellipsis-vertical fa-2x"></i>
                    </div>
                    <div class="down right hidden">
    {% if player == appeal.player %}
                        <label class="btn tertiary">
                            <input hidden form="form" name="CANCEL" type="submit" value='{{ appeal.pk }}' onclick="return confirm('Cancel this Invitation?')">
                            cancel
                        </label>
    {% endif %}
                    </div>
                </div>
                <a class="btn special2 head_back" href="{% url 'bid' appeal=prev %}">
                    <i class="fa-solid fa-chevron-left fa-2x"></i>
                </a>
                <a class="btn special2 head_fwd" href="{% url 'bid' appeal=next %}">
                    <i class="fa-solid fa-chevron-right fa-2x"></i>
                </a>
            </div>
        </div>
        <div class="post">
            <div id="alert_banner_start" class="alert"></div>
            <div id="alert_form_start" class="alert"></div>
            <form id='form' action="{% url 'accept' appeal=appeal.pk %}" method="post">
{% csrf_token %}
{% for entry in log %}
    {% if entry.id == player.pk %}
                <div class="log_entry align_end {{ entry.klass }}">
        {% if bids|get_item:entry.pk %}
                    <div class="drop_down icon">
                        <div class="btn todo" data-down="false">
                            <i class="fa-solid fa-ellipsis-vertical fa-xl"></i>
                        </div>
                        <div class="down left hidden">
                            <label class="btn tertiary menu">
                                <input hidden type="submit" name='decline' value='{{ bid.pk }}'>
                                decline
                            </label>
                        </div>
                    </div>
        {% endif %}            
    {% else %}
                <div class="log_entry align_start {{ entry.klass }}">
                    <a class="btn special2" href="{{ request.path }}{{ entry.id }}/">
                        <i class="fa-solid {{ entry.icon }} fa-2x"></i>
                    </a>
    {% endif %}
                <div class="chat_bubble">
                    <div class="row">
                        <span class="name">{{ entry.name }}</span>
        {% if bids|key_exists:entry.pk %}
                        <div class='ellipsis'>
                            <span>
            {% for _ in '12345'|make_list %} 
                                <span class="color" style="display:inline-block; width:0.8em">
                {% if forloop.counter <= bids|bid_conduct:entry.pk %}
                                    <i class="fa-solid fa-star fa-1x"></i>
                {% else %}
                                    <i class="fa-regular fa-star fa-1x"></i>
                {% endif %}
                                </span>
            {% endfor %}
                            , {{ bids|bid_strength:entry.pk }}
                            </span>
                        </div>
        {% endif %}
                     </div>
                     <div class="row">      
                        <span class="text">{{ entry.text }}</span>
                     </div>
                     <div class="row">      
                        <time datetime="{{ entry.created }}"></time>
                    </div>
                </div>
        {% if bids|get_item:entry.pk %}
                <label class="btn primary small round">
                    <input hidden type="submit" name='accept' value='{{ entry.pk }}' onclick="return confirm('You are about to schedule a Match. A chat session will be opened with your rival. Continue?')">
                    <i class="fa-solid fa-right-long fa-xl"></i>
                </label>
        {% endif %}    
            </div>
{% endfor %}
        </div>
        <div class="post todo">
            <div class="chat_item align_end">
                <div class="btn replicate show_next_parent_sibling">
                    <i class="fa-solid fa-copy fa-2x"></i>
                </div>
                <p class="fat">Replicate</p>
                <div class="drop_down icon">
                    <div class="btn drop todo" data-down="false">
                        <i class="fa-solid fa-ellipsis-vertical fa-2x"></i>
                    </div>
                    <div class="down left hidden">
                        <div class="btn tertiary menu">more 1</div>
                        <div class="btn tertiary menu">more 2</div>
                        <div class="btn tertiary menu">more 3</div>
                    </div>
                </div>
                <div class="chat_bubble">
                    <p>Tennis, Dema Sport, Aug 4, 17h-20h</p>
                </div>
            </div>
        </div>
        <div class="post todo">
            <div class="post replicate closable hidden">
                <h6>BOOST YOUR CHANCES FOR A MATCH</h6>
                <div class="plank">
                    <div class="icon info medium">
                        <i class="fa-solid fa-info fa-2x"></i>
                    </div>
                    <div class="post">
                        <div class="info_bubble">
                            <div class="icon">
                                <i class="fa-solid fa-person fa-2x"></i>
                            </div>
                            <p>Potential rivals at Dema Sport</p>
                            <div class="icon info small">3</div>
                        </div>
                        <div class="info_bubble">
                            <div class="icon">
                                <i class="fa-solid fa-location-dot fa-2x"></i>
                            </div>
                            <p>Next Closest Venue:</p>
                            <div class="btn tertiary">Vasil Levski</div>
                        </div>
                    </div>
                    
                </div>
                <p>You can choose to replicate the same invitation at the next closest Venue to boost your chances for a match.</p>
                <div class="grid_2_col">
                    <div class="btn tertiary closer">Cancel</div>
                        <form action="{% url 'keen' %}" method="post">
{% csrf_token %}
                            <label class="btn primary push_down">
                                <input type="submit" hidden>
                                <i class="fa-solid fa-copy fa-2x"></i>
                                <span>REPLICATE</span>
                            </label>
                        </form>
                    </div>
                </div>
                <div class="chat_item align_start">
                    <div class="btn special2">
                        <i class="fa-brands fa-redhat fa-2x"></i>
                    </div>
                    <div class="chat_bubble">
                        <p class="bold">Venue Manager</p>
                        <p>Removed 18h from available hours</p>
                    </div>
                </div>
            </div>
            </form>
            <div id="alert_form_end" class="alert"></div>
            <div class="pillar">
                <div class="nextup">
                    <p>{{ next_up }}</p>
                </div>
                <!-- <div class="alert_sum push_down">
                    <p><a href='/account/private'>Notifications</a>: <span class='on'>{{ notify_on }}</span> <span class='off'>{{ notify_off }}</span></p>
                </div> -->
            </div>
        </div>
        <div id="alert_detail_end" class="alert"></div>
    </div>
{% endblock %}