<!-- qwikgame/player/templates/appeal/keen.html -->
{% extends "appeal/appeals.html" %}
{% load static %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
{% endblock css %}


{% block script %}
    {{ block.super }}
    <script defer src="{% static 'map.js' %}"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCF6_NfAtwVybWeEfgYM_EA7WoSJgIaScY&loading=async&callback=venuesMap&libraries=places">
    </script>
    <script>
        const ICON_PLACE = "{% static 'img/qwik.place.svg' %}";
        const ICON_REGION = "{% static 'img/qwik.region.svg' %}";
        const ICON_SEARCH = "{% static 'img/qwik.search.svg' %}";
        const ICON_VENUE = "{% static 'img/qwik.venue.svg' %}";
        const ONCLICK_PLACE_MARKER = "{{ onclick_place_marker }}";
        const ONCLICK_REGION_MARKER = "{{ onclick_region_marker }}";
        const ONCLICK_SEARCH_MARKER = "{{ onclick_search_marker }}";
        const ONCLICK_VENUE_MARKER = "{{ onclick_venue_marker }}";
        const ONHOVER_PLACE_MARKER = "{{ onhover_place_marker }}";
        const ONHOVER_REGION_MARKER = "{{ onhover_region_marker }}";
        const ONHOVER_SEARCH_MARKER = "{{ onhover_search_marker }}";
        const ONHOVER_VENUE_MARKER = "{{ onhover_venue_marker }}";
        const ONPRESS_PLACE_MARKER = "{{ onpress_place_marker }}";
        const ONPRESS_REGION_MARKER = "{{ onpress_region_marker }}";
        const ONPRESS_SEARCH_MARKER = "{{ onpress_search_marker }}";
        const ONPRESS_VENUE_MARKER = "{{ onpress_venue_marker }}";
        const SHOW_SEARCH_BOX = "{{ show_search_box }}";
        const SHOW_UNIT_REGION = false;
    </script>

    <script defer src="{% static 'keen.js' %}"></script>
{% endblock %}


{% block title %}Invite{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
    <div id="detail" class="detail">
        <div id="alert_detail_start" class="alert"></div>
        <div class="detail_head">
            <div id="alert_detail_head" class="alert"></div>
            <div class="icon selected">
                <i class="fa-solid fa-paper-plane fa-2x"></i>
            </div>
            <div class="post head_txt">
                <h1>Keen To Play? Send Invitation?</h1>
            </div>
        </div>
        <div class="post">
            <div class="post form">
                <div id="alert_form_start" class="alert"></div>
                <form action="{% url 'keen' %}" method="post"  novalidate>
{% csrf_token %}
{{ keen_form }}
                    <div class="pillar">
                        <div id="alert_forrm_submit" class="alert"></div>
                        <label id="appeal_submit" class="btn primary push_down">
                            <input hidden type="submit">
                            <i class="fa-solid fa-paper-plane fa-xl"></i>
                            <span class="appeal_all">Invite</span>
                            <span hidden class="appeal_friends">Invite Friends Only</span>
                        </label>
                    </div>
                </form>
                <div id="alert_form_end" class="alert"></div>
            </div>
        </div>
        <div id="alert_detail_end" class="alert"></div>
    </div>

{% include 'map.html' %}

{% endblock detail %}
