<!-- qwikgame/player/templates/player/account_public_snippet.html -->
                    <div class="label">
                        <label for="id_icon">YOUR QWIKGAME REPUTATION</label>
                        <div class="button info sml push_right" data-visible="false">
                            <i class="fa-solid fa-info fa-1x" aria-hidden="true"></i>
                            <div class="info_text hidden">Based on feedback given by your rivals</div>
                        </div>
                    </div>
                    <div class="plank">
{% for _ in '12345'|make_list %} 
                        <div class="icon color">
{% if forloop.counter <= reputation %}
                            <i class="fa-solid fa-star fa-2x"></i>
{% else %}
                            <i class="fa-regular fa-star fa-2x"></i>
{% endif %}
                        </div>
{% endfor %}
                    </div>
                    <div class="label">
                        <label for="pecis">ABOUT</label>
                    </div>
                    <div class="tab_area post">
                        <div class="tabs">
{% for p in precis %}
                        <div class="button tab thin {% if forloop.counter0 == 0 %}active{% endif %}" data-tab_id="id_{{ p.game.code }}">
{{ p.game }}
                        </div>
{% endfor %}
                        </div>
{{ precis_form }}
                    </div>
{{ player_form }}