<!-- qwikgame/player/templates/player/account_public_snippet.html -->
                    <div class="label">
                        <label for="id_icon">YOUR QWIKGAME REPUTATION</label>
                        <div class="btn secondary small round push_right info" data-visible="false">
                            <i class="fa-solid fa-info fa-1x" aria-hidden="true"></i>
                            <div class="info_text hidden">Based on feedback given by your rivals</div>
                        </div>
                    </div>
                    <div class="plank">
{% include 'player/conduct_stars_snippet.html' %}
                    </div>
                    {{ precis_form }}
                    {{ player_form }}