{% extends "person/account.html" %}

{% block player_public %}
                    <h2>
                        YOUR QWIKGAME REPUTATION
                        <div class="button info sml" data-visible="false">
                            <i class="fa-solid fa-info fa-1x"></i>
                            <div class="info_text hidden">Based on feedback given by your rivals</div>
                        </div>
                    </h2>
                    <div class="plank">
                        {% for _ in '12345'|make_list %} 
                        <div class="icon color">
                            {% if forloop.counter <= reputation %}
                            <i class="fa-solid fa-star fa-2x"></i>
                            {% else %}
                            <i class="fa-regular fa-star fa-2x"></i>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <h2>ABOUT</h2>

                    <div class="tab_area post">
                        <div class="tabs">
                            {% for preci in precis %}
                            <div class="button tab thin {% if forloop.first %} active {% endif %}" data-tab_id="{{ preci.game }}">
                                {{ preci.game }}
                            </div>
                            {% endfor %}
                        </div>
                        {% for preci in precis %}
                        <div id="{{ preci.game }}" class="tab_content {% if not forloop.first %} hidden {% endif %}">
                          <textarea id="" name="{{ preci.game }}" rows="4" cols="50">{{ preci.text }}</textarea>
                        </div>
                        {% endfor %}
                        <div class="button cta push_down wide schedule_save">
                            <p>SAVE</p>
                        </div>
                    </div>
{% endblock %}


{% block player_private %}
                    <h2>LIST OF BLOCKED PLAYERS</h2>
                    <div id="block_list" class="drop_down">
                        <div class="button drop" data-down="false">
                            <div>Blocked Players</div>
                            <div class="fat">v</div>
                        </div>
                        <div class="down hidden">
                            {% for block in blocked %}
                            <label class="option closable" for="{{ block }}">{{ block.name }} ({{ block.facet }})
                                <div class="button link push_right closer">unblock</div>
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                    <fieldset id="block_add" class="hidden">
                        <input type="text" name="block" list="blocked" placeholder="Type email address"/>
                        <div class="rival-skill-learn grid_3_col">
                            <div class="button link show_block_list">Cancel</div>
                            <div class="button link">Learn more</div>
                            <div class="button ctb wide thin">Block</div>
                        </div>
                    </fieldset>
{% endblock %}