<!-- qwikgame/player/templates/player/bid.html -->
{% extends "player/feed.html" %}


{% block title %}Bid{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
    <div id="detail" class="detail">
        <div class="detail_head">
            <div class="icon">
                <i class="fa-solid fa-inbox fa-xl"></i>
            </div>
            <div class="pole notes">
                <div class="note">
                    <span class="icon">
                        <i class="{{ appeal.game.icon }} fa-1x"></i>
                    </span>
                    <p class="line">{{ appeal.game.name }}</p>
                </div>
                <div class="note">
                    <span class="icon">
                        <i class="fa-solid fa-calendar fa-1x"></i>
                    </span>
                    <p>{{ appeal.date }}, {{ appeal.hours24 }}h</p>
                </div>
                <div class="note">
                    <span class="icon">
                        <i class="fa-solid fa-location-dot fa-1x"></i>
                    </span>
                    <p>{{ appeal.venue.place_str }}</p>
                </div>
            </div>
            <div class="drop_down icon head_more">
                <div class="btn drop todo" data-down="false">
                    <i class="fa-solid fa-ellipsis-vertical fa-2x"></i>
                </div>
                <div class="down hidden">
                    <div class="btn tertiary menu">more 1</div>
                    <div class="btn tertiary menu">more 2</div>
                    <div class="btn tertiary menu">more 3</div>
                </div>
            </div>
            <a class="btn special2 head_back" href="/player/feed/{{ prev }}/">
                <i class="fa-solid fa-chevron-left fa-2x"></i>
            </a>
            <a class="btn special2 head_fwd" href="/player/feed/{{ next }}/">
                <i class="fa-solid fa-chevron-right fa-2x"></i>
            </a>
        </div>
        <div class="post">
{% for entry in appeal.log %}
            <div class="log_entry align_start {{ entry.klass }}">
                <div class="btn special2 todo">
                    <i class="fa-solid fa-hat-cowboy fa-2x"></i>
                </div>
                <div class="chat_bubble">
                    <p>{{ entry.name }}</p>
                    <p>{{ entry.text }}</p>
                </div>
            </div>
{% endfor %}
        </div>
        <div class="post todo">
            <div class="chat_item align_start">
                <div class="btn special2">
                    <i class="fa-brands fa-redhat fa-2x"></i>
                </div>
                <div class="chat_bubble">
                    <p class="bold">Venue Manager</p>
                    <p>Removed 15h from available hours</p>
                </div>
            </div>
            <div class="detail_chat_post"></div>
        </div>
        <div class="post form">
{% if bade %}
            <p>Awaiting Players to accept</p>
{% else %}
            <form action="{% url 'bid' appeal.pk %}" method="post">
{% csrf_token %}
{{ bid_form }}
            <div class="paver">
                <label class="btn primary push_down">
                    <input hidden type="submit" name='accept'>
                    Accept
                </label>
            </div>
            </form>
{% endif %}
        </div>
    </div>
{% endblock %}