<!-- qwikgame/player/templates/player/bid.html -->
{% extends "player/appeals.html" %}


{% block title %}Bid{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
    <div id="detail" class="detail">
        <div class="detail_head">
            <div class="icon">
                <i class="fa-solid fa-inbox fa-xl"></i>
            </div>
            <div class='head'>
                <p class="line">
                    <span class="icon">
                        <i class="fa-solid {{ appeal.game.icon }} fa-1x"></i>
                    </span>
                    {{ appeal.game }}
                </p>
                <p class="line">
                    <span class="icon">
                        <i class="fa-solid fa-calendar fa-1x"></i>
                    </span>
                    {{ appeal.date }}, {{ appeal.hours24 }}
                </p>
                <p class="line">
                    <span class="icon">
                        <i class="fa-solid fa-location-dot fa-1x"></i>
                    </span>
                    {{ appeal.venue.place_str }}
                </p>
            </div>
            <div class="drop_down icon head_more">
                <div class="btn drop" data-down="false">
                    <i class="fa-solid fa-ellipsis-vertical fa-2x"></i>
                </div>
                <div class="down hidden"></div>
            </div>
            <a class="btn special2 head_back" href="/player/appeal/{{ prev }}/">
                <i class="fa-solid fa-chevron-left fa-2x"></i>
            </a>
            <a class="btn special2 head_fwd" href="/player/appeal/{{ next }}/">
                <i class="fa-solid fa-chevron-right fa-2x"></i>
            </a>
        </div>
{% include 'player/rival_header_snippet.html' %}
        <div class="post">
{% for entry in appeal.log %}
    {% if entry.id == player_id %}
            <div class="log_entry align_end {{ entry.klass }}">
    {% else %}
            <div class="log_entry align_start {{ entry.klass }}">
    {% endif %}
                <div class="btn special2">
                    <i class="fa-solid {{ entry.icon }} fa-2x"></i>
                </div>
                <div class="chat_bubble">
                    <span class="name">{{ entry.name }}</span>
                    <time datetime="{{ entry.created }}"></time>
                    <span class="text">{{ entry.text }}</span>
                </div>
            </div>
{% endfor %}
        </div>
        <div class="post todo">
            <div class="chat_item align_start">
                <div class="btn special2">
                    <i class="fa-brands fa-redhat fa-2x"></i>
                </div>
                <div class="chat_bubble">
                    <p class="bold">Venue Manager</p>
                    <p>Removed 15h from available hours</p>
                </div>
            </div>
            <div class="detail_chat_post"></div>
        </div>
        <div class="post form">
{% if bid %}
            <div class="pillar">
                <p>Awaiting Players to accept</p>
                <form id='form' action="{% url 'bid' appeal.pk %}" method="post">
{% csrf_token %}
                    <label class="btn tertiary">
                        <input hidden form="form" type="submit" name='CANCEL' value='{{ bid.pk }}' onclick="return confirm('Cancel this Bid?')">
                         cancel
                    </label>
                </form>
            </div>
{% else %}
            <form id='form' action="{% url 'bid' appeal.pk %}" method="post">
{% csrf_token %}
{{ bid_form }}
            <div class="paver">
                <label class="btn primary push_down">
                    <input hidden form="form" type="submit" name='accept'>
                    Accept
                </label>
            </div>
            </form>
{% endif %}
        </div>
    </div>
{% endblock %}