<!-- qwikgame/templates/player/chat_bubble_snippet.html -->
{% load static %}
{% load i18n %}

    <div class="chat_bubble">
        <div class="row">
            <span class="name">{{ entry.name }}</span>
        </div>
        <div class="row">
{% if entry.text == 'template_accept' %}
            <span class="text">
    {% blocktranslate %}
                Confirmed for {{ hours }} with {{ rival_name }}
    {% endblocktranslate %}
{% elif entry.text == 'template_appeal' %}
            <span class="text">
    {% blocktranslate %}
                Proposed {{ game }} at {{ venue }}, {{ date }}, {{ time }}
    {% endblocktranslate %}
    {% if friends %}
        {% blocktranslate %}
                with {{ friends }}
        {% endblocktranslate %}
    {% endif %}
            </span>
{% elif entry.text == 'template_bid' %}
            <span class="text">
    {% blocktranslate %}
                Offered {{ hours }}
    {% endblocktranslate %}
            </span>
{% elif entry.text == 'template_book_prompt' %}
            <span class="text">
    {% blocktranslate %}
                {{ name }}, please contact venue to ensure availability on {{ date }} : {{ phone }} : {{ url }}
    {% endblocktranslate %}
            </span>
{% elif entry.text == 'template_cancelled_invite' %}
            <span class="text">{% translate 'Cancelled Invitation'  %}</span>
{% elif entry.text == 'template_cancelled_match' %}
            <span class="text">{% translate 'Match cancelled'  %}</span>
{% elif entry.text == 'template_decline' %}
            <span class="text">
    {% blocktranslate %}
                Declined {{ hours }} with {{ rival_name }}
    {% endblocktranslate %}
            </span>
{% elif entry.text == 'template_disabled' %}
            <span class="text">{% translate 'Match chat disabled'  %}</span>
{% elif entry.text == 'template_expired' %}
            <span class="text">{% translate 'Bid expired' %}</span>
{% elif entry.text == 'template_first_game' %}
            <span class="text">
    {% blocktranslate %}
                This is the first QWIKGAME of {{ game }} at this Venue. 
    {% endblocktranslate %}
                <br>
                {% translate 'Please check that the Venue has everything you need for the Match.' %}
            </span>
{% elif entry.text == 'template_reappeal' %}
    {% blocktranslate %}
                Updated hours: {{ hours }}
    {% endblocktranslate %}
{% elif entry.text == 'template_review' %}
            <span class="text">{% translate 'reviewed the Match' %}</span>
{% elif entry.text == 'template_scheduled' %}
            <span class="text">{% translate 'Match scheduled' %}</span>
{% elif entry.text == 'template_perished' %}
            <span class="text">{% translate 'Match chat perished' %}</span>
{% elif entry.text == 'template_withdraw' %}
            <span class="text">
    {% blocktranslate %}
                Withdrew {{ hours }}
    {% endblocktranslate %}
            </span>
{% else %}
            <span class="text">{{ entry.text }}</span>
{% endif %}
        </div>
        <div class="row">
            <time datetime="{{ entry.created }}"></time>
        </div>
    </div>