<!-- qwikgame/player/templates/player/feed.html -->
{% extends "content.html" %}


{% block title %}Invite{% endblock %}


{% block cta_mobile %}
{% if small_screen %}
    <a class="cta round lge cta_mobile" href="{% url 'keen' %}">
    <i class="fa-solid fa-paper-plane fa-3x"></i>
    </a>
{% endif %}
{% endblock %}


{% block cta_desktop %}
{% if big_screen %}
    <a class="cta wide" href="{% url 'keen' %}">
        <i class="fa-solid fa-paper-plane fa-xl"></i>
        <p>INVITE</p>
    </a>
{% endif %}
{% endblock %}


{% block list %}
    <div id="list_bar" class="list_bar post">
        <div class="list_bar_head">
            <h1>Feed</h1>
            <div class="button ctb push_right">
                <a class="button" href="{% url 'screen' %}">
                    <i class="fa-solid fa-filter fa-xl"></i>
                    <p>Filter</p>
                </a>
            </div>
        </div>
        <hr>
        <h2 class="show_group todo">
            Accepted
            <span>▲</span>
        </h2>
        <div class="group hidden">
            <p>No accepted invitations!</p>
{% for invite in accepted %}
{% endfor %}
        </div>
        <h2 class="show_group">
            New
            <span>▲</span>
        </h2>
        <div class="group">
{% for appeal in appeals %}
            <a class="button item {{ unread }}" href="{% url 'bid' appeal=appeal.pk %}">
                <div class="pole notes">
                    <div class="note">
                        <span class="icon">
                            <i class="{{ appeal.game.icon }} fa-1x"></i>
                        </span>
                        <p class="line">{{ appeal.game }}</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-calendar fa-1x"></i>
                        </span>
                        <p>{{ appeal.date }}</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-location-dot fa-1x"></i>
                        </span>
                        <p>{{ appeal.venue}}</p>
                    </div>
                </div>
                <div class="pole badges todo">
                    <div class="icon">
                        <i class="fa-solid fa-inbox fa-xl"></i>
                    </div>
                </div>
            </a>
{% endfor %}
        </div>
    </div>
{% endblock %}


{% block detail %}{% endblock %}