<!-- qwikgame/player/templates/player/feed.html -->
{% extends "content.html" %}


{% block title %}Feed{% endblock %}


{% block cta_mobile %}
{% if small_screen %}
    <a class="cta round lge cta_mobile" href="{% url 'keen' %}">
    <i class="fa-solid fa-paper-plane fa-3x"></i>
    </a>
{% endif %}
{% endblock %}


{% block cta_desktop %}
{% if big_screen %}
    <a class="cta wide" href="{% url 'keen' %}">
        <i class="fa-solid fa-paper-plane fa-xl"></i>
        <p>INVITE</p>
    </a>
{% endif %}
{% endblock %}


{% block list %}
    <div id="list_bar" class="list_bar post">
        <div class="list_bar_head">
            <h1>Feed ({{ feed_length }})</h1>
            <div class="button ctb push_right">
                <a class="button" href="{% url 'filters' %}">
                    <i class="fa-solid fa-filter fa-1x"></i>
                    Filter
                </a>
            </div>
        </div>
        <hr>
        <h2 class="show_group">
            Participating
            <span>▲</span>
        </h2>
        <div class="group">
{% for appeal in prospects %}
{% if appeal.player == player %}
            <a class="button item {{ unread }}" href="{% url 'accept' appeal.pk %}">
{% else %}
            <a class="button item {{ unread }}" href="{% url 'bid' appeal.pk %}">
{% endif %}
                <div class="pole notes">
                    <div class="note">
                        <span class="icon">
                            <i class="{{ appeal.game.icon }} fa-1x"></i>
                        </span>
                        <p class="line">{{ appeal.game }}</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-calendar fa-1x"></i>
                        </span>
                        <p class="line">{{ appeal.date }}, {{ appeal.hours24 }}h</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-location-dot fa-1x"></i>
                        </span>
                        <p class="line">{{ appeal.venue.place_str }}</p>
                    </div>
                </div>
                <div class="pole badges todo">
                    <div class="icon">
                        <i class="fa-solid fa-inbox fa-xl"></i>
                    </div>
                </div>
            </a>
{% empty %}
            <p>No accepted invitations!</p>
{% endfor %}
        </div>
        <h2 class="show_group">
            All
            <span>▲</span>
        </h2>
        <div class="group">
{% for appeal in appeals %}
            <a class="button item {{ unread }}" href="{% url 'bid' appeal.pk %}">
                <div class="pole notes">
                    <div class="note">
                        <span class="icon">
                            <i class="{{ appeal.game.icon }} fa-1x"></i>
                        </span>
                        <p class="line">{{ appeal.game }}</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-calendar fa-1x"></i>
                        </span>
                        <p class="line">{{ appeal.date }}, {{ appeal.hours24 }}h</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-location-dot fa-1x"></i>
                        </span>
                        <p class="line">{{ appeal.venue.place_str }}</p>
                    </div>
                </div>
                <div class="pole badges todo">
                    <div class="icon">
                        <i class="fa-solid fa-inbox fa-xl"></i>
                    </div>
                </div>
            </a>
{% endfor %}
        </div>
    </div>
{% endblock %}


{% block detail %}
{% if big_screen %}
    <div id="detail" class="detail">
        <div class="pillar push_down">
            <div class="push_down">
                Open an Invitation<br>or send a new one!
            </div>
            <div class="push_down">
                <a class="cta" href="{% url 'keen' %}">
                    <i class="fa-solid fa-paper-plane fa-xl"></i>
                    INVITE
                </a>
            </div>
        <div>
    </div>
{% endif %}
{% endblock detail %}