<!-- qwikgame/player/templates/player/filters.html -->
{% extends "appeal/appeals.html" %}
{% load i18n %}

{% block refresh %}{% endblock refresh %}

{% block title %}
    {% translate "Filter" %}
{% endblock %}

    
{% block list_bar %}
{% if pc_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
    <div id="detail" class="detail">
        <div id="alert_detail_start" class="alert"></div>
        <div class="detail_head">
            <div id="alert_detail_head" class="alert"></div>
            <div class="icon selected">
                <i class="fa-solid fa-filter fa-2x"></i>
            </div>
            <h2>{% translate "Invitation Filters" %}</h2>
        </div>

        <div class="form">
            <div id="alert_form_start" class="alert"></div>
            <form action="{% url 'filters' %}" method="post">
{% csrf_token %}
{{ filters_form }}
                <label class="btn primary push_down">
                    <input hidden name="ACTIVATE" type="submit">
                    {% translate "Apply" %}
                </label>
            </form>
            <div id="alert_form_end" class="alert"></div>
        </div>
        <div id="alert_detail_end" class="alert"></div>
    </div>
{% endblock detail %}