<!-- qwikgame/player/templates/player/filter.html -->
{% extends "player/feed.html" %}
{% load static %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
{% endblock css %}


{% block script %}
    {{ block.super }}
    <script defer src="{% static 'map.js' %}"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCF6_NfAtwVybWeEfgYM_EA7WoSJgIaScY&loading=async&callback=venuesMap&libraries=places">
    </script>
    <script>
        const VENUE_ICON = "{% static 'img/qwik.venue.svg' %}";
        const REGION_ICON = "{% static 'img/qwik.region.svg' %}";
        const PLACE_ICON = "{% static 'img/qwik.place.svg' %}";
    </script>

    <script defer src="{% static 'filter.js' %}"></script>
{% endblock %}


{% block title %}Filter{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
    <div id="detail" class="detail">
        <div class="detail_head">
            <div class="icon selected">
                <i class="fa-solid fa-filter fa-2x"></i>
            </div>
            <h1>New Invitation Filter</h1>
        </div>

        <div class="post">
            <div class="post form">
                <form action="{% url 'filter' %}" method="post">
{% csrf_token %}
{{ filter_form }}
                    <div class="pillar">
                        <label class="btn primary push_down">
                            <input type="submit" hidden>
                            Add Filter
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% include 'map.html' %}

{% endblock detail %}