<!-- qwikgame/player/templates/player/filters.html -->
{% extends "appeal/appeals.html" %}

{% block refresh %}{% endblock refresh %}

{% block title %}Filter{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
    <div id="detail" class="detail">
        <div id="alert_detail_start" class="alert"></div>
        <div class="detail_head">
            <div id="alert_detail_head" class="alert"></div>
            <div class="icon selected">
                <i class="fa-solid fa-filter fa-2x"></i>
            </div>
            <h2>Invitation Filters</h2>
            <div class="push_right">
                <a class="btn secondary" href="{% url 'filter' %}">
                    <i class="fa-solid fa-plus fa-xl"></i>
                    Add
                </a>
            </div>
        </div>

        <div class="post">
            <div class="post form">
                <div id="alert_form_start" class="alert"></div>
                <form action="{% url 'filters' %}" method="post">
{% csrf_token %}
{{ filters_form }}
                    <div class="grid_2_col">
                        <div id="alert_form_submit" class="alert"></div>
                        <label class="btn tertiary push_down">
                            <input hidden name="DELETE" type="submit"
                            onclick="return confirm('Delete these Filters?')">
                            Remove
                        </label>
                        <label class="btn primary push_down">
                            <input hidden name="ACTIVATE" type="submit">
                            Apply
                        </label>
                    </div>
                </form>
                <div id="alert_form_end" class="alert"></div>
            </div>
        </div>
        <div id="alert_detail_end" class="alert"></div>
    </div>
{% endblock detail %}