<!-- qwikgame/player/templates/player/filter.html -->
{% extends "player/feed.html" %}
{% load static %}

{% block script %}
    <script defer src="{% static 'map.js' %}"></script>
    <script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGqWu3u-CPIU_MkURpe7mTxJcDku-qeDw&callback=venuesMap&libraries=places">
    </script>
    <script>
        const VENUE_ICON = "{% static 'img/qwik.pin.21x35.png' %}";
        const REGION_ICON = "{% static 'img/qwik.cluster.24x24.png' %}";
        const PLACE_ICON = "{% static 'img/qwik.place.24x24.png' %}";
    </script>

    <script defer src="{% static 'filter.js' %}"></script>
{% endblock %}


{% block title %}Filter{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
    <div id="detail" class="detail">
        <div class="detail_head">
            <div class="icon selected">
                <i class="fa-solid fa-filter fa-2x"></i>
            </div>
            <h1>New Invitation Filter</h1>
        </div>

        <div class="post">
            <div class="post form">
                <form action="{% url 'filter' %}" method="post">
{% csrf_token %}
{{ filter_form }}
                    <input class="button ctb push_down wide schedule_save" type="submit" value="ADD FILTER">
                </form>
            </div>
        </div>
    </div>


    <div id='map-elements' style='display:none;'>    
      <div id='map' class='center wide'></div>      
      <input id="map-search" class="controls" type="text" form="not-register-form" placeholder="{search_box}" />
      <template id="infowindow-venue">
        <div>
          <div class="map-mark-info-head">
            <a id="map-mark-venue-link" href="">name</a>
          </div>
          <div class="map-mark-info-body">
            <span class="map-mark-info-label">{players}: </span>
            <span id="map-mark-venue-players">number</span>
          </div>
        </div>
      </template>
      <template id="infowindow-region">
        <div>
          <div class="map-mark-info-head">
            <span id="map-mark-region-name"></span>
          </div>
          <div class="map-mark-info-body">
            <span class="map-mark-info-label">{venues}: </span>
            <span id="map-mark-region-venues">number</span>
          </div>
        </div>
      </template>
      <template id='infowindow-poi'>
        <div>
          <div id='poi-id' style='display:none;'></div>
          <div class="map-mark-info-head">
            <div id='poi-name'>name</div>
          </div>
          <div class="map-mark-info-body">
            <a id='poi-link' href='' onclick="clickCreateVenue(event)">{create_new_venue}</a>
          </div>
        </div>
      </template>
    </div>

{% endblock detail %}