<!-- qwikgame/player/templates/player/friends.html -->
{% extends "content.html" %}
{% load i18n %}

{% block refresh %}{% endblock refresh %}

{% block title %}
    {% translate "Friends" %}
{% endblock %}


{% block cta_mobile %}
{% if small_screen %}
    <a class="btn special1 mobile" href="{% url 'friend_add' %}">
    <i class="fa-solid fa-plus fa-3x"></i>
    </a>
{% endif %}
{% endblock %}


{% block cta_desktop %}
{% if big_screen %}
    <a class="btn special1" href="{% url 'friend_add' %}">
        <i class="fa-solid fa-plus fa-xl"></i>
        {% translate "Add" %}
    </a>
{% endif %}
{% endblock %}


{% block list %}
        <div id="alert_list_start" class="alert"></div>
        <div class="list_head">
            <div id="alert_list_head" class="alert"></div>
            <h2>{% translate "Friends" %}</h2> 
            <div class="drop_down todo">
                <div class="btn drop" data-down="false">
                    <div>
                        {% translate "Group by" %}
                    </div>
                    <div class="fat" aria-hidden="true">v</div>
                </div>
                <div class="down left hidden">
                    <label class="toggle option">
                        <input type="radio" name="groupby">
                        {% translate "game" %}
                    </label>
                </div>
            </div>
        </div>
        <div class="post">
{% for fri in friends %}
            <a class="btn secondary item" href="{% url 'friend' friend=fri.pk %}">
{% if fri.pk == friend.pk %}
                <input type="checkbox" name="selected" checked='checked' hidden>
{% endif %}
                <div class='lines'>
                    <div class="line">
                        <span class="identicon" data-hash="{{ fri.rival.hash }}"></span>
                        {{ fri.name }}
                    </div>
                    <div class="line">
                        <span class="icon">
                            <i class="fa-regular fa-envelope"></i>
                        </span>
                        {{ fri.email }}
                    </div>
                </div>
                <div class="badges"></div>
            </a>
{% empty %}
           <p>
               {% translate "No friends :-(" %}
           </p>
{% endfor %}
        </div>
        <div id="alert_list_end" class="alert"></div>
{% endblock %}


{% block detail %}
{% if big_screen %}
    <div id="detail" class="detail">
        <div id="alert_detail_start" class="alert"></div>
        <div class="pillar push_down">
            <div class="push_down">
    {% blocktranslate with br = "<br>" %}
                Edit a Friend{{ br }}or add a new one!
    {% endblocktranslate %}
            </div>
            <a class="btn special1 push_down" href="{% url 'friend_add' %}">
                <i class="fa-solid fa-plus fa-xl"></i>
                {% translate "Add Friend" %}
            </a>
        </div>
        <div id="alert_detail_end" class="alert"></div>
    </div>
{% endif %}
{% endblock detail %}
