<!-- qwikgame/player/templates/player/friends.html -->
{% extends "player/friends.html" %}


{% block title %}Friends{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
    <div id="detail" class="detail">
        <div class="detail_head">
            <div class="icon selected">
                <i class="fa-solid fa-user-group fa-2x"></i>
            </div>
            <h2>Add Friend</h2>
        </div>
        <div class="post available_edit {{ hide_edit }}">
            <div class="post form">
                <form action="{% url 'friend_add' %}" method="post">
{% csrf_token %}
{{ form }}
                    <div class="pillar">
                        <label class="btn primary push_down">
                            <input hidden type="submit" name="ADD">
                            Add
                        </label>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}
