<!-- qwikgame/player/templates/player/friends.html -->
{% extends "player/friends.html" %}
{% load i18n %}


{% block title %}
    {% translate "Friends" %}
{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
    <div id="detail" class="detail">
        <div id="alert_detail_start" class="alert"></div>
        <div class="detail_head">
            <div id="alert_detail_head" class="alert"></div>
{% if friend %}
            <div class="identicon" data-hash="{{ friend.rival.hash }}"></div>
            <h2>{{ friend.name }}</h2>
            <div class="context_menu">
                <div class="drop_down head_more">
                    <div class="btn special2 drop" data-down="false">
                        <i class="fa-solid fa-ellipsis-vertical fa-2x"></i>
                    </div>
                    <div class="down right hidden">
                        <form id="menu_form " action="{% url 'friend_add' %}" method="post">
    {% csrf_token %}
                            <label class="btn tertiary">
                                <input hidden name="DELETE" type="submit" value='{{ friend.pk }}' onclick="return confirm(
                                    {% translate 'Delete this Friend?' %}
                                )">
                                {% translate "delete" %}
                            </label>
                        </form>
                    </div>
                </div>
                <a class="btn special2 head_back" href="{% url target friend=prev %}">
                    <i class="fa-solid fa-chevron-left fa-2x"></i>
                </a>
                <a class="btn special2 head_fwd" href="{% url target friend=next %}">
                    <i class="fa-solid fa-chevron-right fa-2x"></i>
                </a>
            </div>
    {% else %}
                <h2>{% translate "Add Friend" %}</h2>
    {% endif %}
        </div>
        <div class="post form">
            <div id="alert_form_start" class="alert"></div>
{% if friend %}
            <form id="form" action="{% url target friend=friend.pk %}" method="post" novalidate>
{% else %}
            <form id="form" action="{% url 'friend_add' %}" method="post" novalidate>
{% endif %}
{% csrf_token %}
{{ friend_form }}
{% for strength in strengths %}        
                <div class="grid_3_col">
                    <h2>{{ strength.game }}</h2>
                    <h2>{{ strength.relative_str }}</h2>
                    <label class="btn tertiary">
                        <input hidden name="DELETE_STRENGTH" type="submit" value='{{ strength.pk }}'>
                        {% translate "delete" %}
                    </label>
                </div>
{% endfor %}
{% csrf_token %}
{{ strength_form }}
                <div class="pillar">
                    <div id="alert_form_submit" class="alert"></div>
                    <label class="btn secondary push_down">
                        <input hidden name="ADD" type="submit">
                        {% translate "Submit" %}
                    </label>
                </div>
            </form>
            <div id="alert_form_end" class="alert"></div>
        </div>
        <div id="alert_detail_end" class="alert"></div>
    </div>
{% endblock %}


{% block map %}{% endblock map %}