<!-- qwikgame/player/templates/player/invite.html -->
{% extends "content.html" %}


{% block title %}Invite{% endblock %}


{% block cta_mobile %}
{% if small_screen %}
    <a class="cta round lge cta_mobile" href="{% url 'keen' %}">
    <i class="fa-solid fa-paper-plane fa-3x"></i>
    </a>
{% endif %}
{% endblock %}


{% block cta_desktop %}
{% if big_screen %}
    <a class="cta wide" href="{% url 'keen' %}">
        <i class="fa-solid fa-paper-plane fa-xl"></i>
        <p>KEEN TO PLAY</p>
    </a>
{% endif %}
{% endblock %}


{% block list %}
    <div id="list_bar" class="list_bar post">
        <div class="list_bar_head">
            <h1>Invitations</h1> 
            <div class="drop_down">
                <div class="button drop todo" data-down="false">
                    <div>Group by</div>
                    <div class="fat" aria-hidden="true">v</div>
                </div>
                <div class="down hidden">
                    <label class="toggle option">
                        <input type="radio" name="groupby">
                        date
                    </label>
                    <label class="toggle option">
                        <input type="radio" name="groupby">
                        game
                    </label>
                    <label class="toggle option">
                        <input type="radio" name="groupby" checked="checked">
                        sent
                    </label>
                    <label class="toggle option">
                        <input type="radio" name="groupby">
                        venue
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <h2 class="show_group">
            Sent
            <span>▲</span>
        </h2>
        <div class="group">
{% for appeal in appeals %}
            <a class="button item {{ unread }}" href="{% url 'replies' appeal=appeal.pk %}">
                <div class="pole notes">
                    <div class="note">
                        <span class="icon">
                            <i class="{{ appeal.game.icon }} fa-1x"></i>
                        </span>
                        <p class="line">{{ appeal.game }}</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-calendar fa-1x"></i>
                        </span>
                        <p>{{ appeal.date }}</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-location-dot fa-1x"></i>
                        </span>
                        <p>{{ appeal.venue}}</p>
                    </div>
                </div>
                <div class="pole badges todo">
                    <div class="icon">
                        <i class="fa-solid fa-paper-plane fa-xl"></i>
                    </div>
                </div>
            </a>
{% endfor %}
        </div>
        <h2 class="show_group">
            Received
            <span>▲</span>
        </h2>
        <div class="group">
{% for invite in invites %}
            <a class="button item {{ unread }}" href="{% url 'rsvp' invite=invite.pk %}">
                <div class="pole notes">
                    <div class="note">
                        <span class="icon">
                            <i class="{{ invite.appeal.game.icon }} fa-1x"></i>
                        </span>
                        <p class="line">{{ invite.appeal.game }}</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-calendar fa-1x"></i>
                        </span>
                        <p>{{ invite.appeal.date }}</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-location-dot fa-1x"></i>
                        </span>
                        <p>{{ invite.appeal.venue}}</p>
                    </div>
                </div>
                <div class="pole badges">
                    <div class="icon todo">
                        <i class="fa-solid fa-inbox fa-xl"></i>
                    </div>
                </div>
            </a>
{% endfor %}
        </div>
        <h2 class="show_group todo">
            History
            <span>▲</span>
        </h2>
        <div class="group hidden">
            <p>No history yet!</p>
        </div>
    </div>
{% endblock %}


{% block detail %}{% endblock %}