<!-- qwikgame/player/templates/player/keen.html -->
{% extends "player/feed.html" %}
{% load static %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
{% endblock css %}


{% block script %}
    {{ block.super }}
    <script defer src="{% static 'map.js' %}"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGqWu3u-CPIU_MkURpe7mTxJcDku-qeDw&loading=async&callback=venuesMap&libraries=places">
    </script>
    <script>
        const VENUE_ICON = "{% static 'img/qwik.pin.21x35.png' %}";
        const REGION_ICON = "{% static 'img/qwik.cluster.24x24.png' %}";
        const PLACE_ICON = "{% static 'img/qwik.place.24x24.png' %}";
    </script>

    <script defer src="{% static 'keen.js' %}"></script>
{% endblock %}


{% block title %}Invite{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
    <div id="detail" class="detail">
        <div class="detail_head">
            <div class="icon selected">
                <i class="fa-solid fa-paper-plane fa-2x"></i>
            </div>
            <div class="post head_txt">
                <h1>Keen To Play? Send Invitation?</h1>
            </div>
        </div>
        <div class="post">
            <div class="post form">
                <form action="{% url 'keen' %}" method="post">
{% csrf_token %}
{{ keen_form }}
                    <label class="btn primary push_down">
                        <input type="submit" hidden>
                        <i class="fa-solid fa-paper-plane fa-xl"></i>
                        <span>INVITE</span>
                    </label>
                </form>
            </div>
        </div>
    </div>

{% include 'map.html' %}

{% endblock detail %}
