{% extends "person/public.html" %}

{% block player_public %}
                    <h2>
                        YOUR QWIKGAME REPUTATION
                        <div class="button info sml" data-visible="false">
                            <i class="fa-solid fa-info fa-1x"></i>
                            <div class="info_text hidden">Based on feedback given by your rivals</div>
                        </div>
                    </h2>
                    <div class="plank">
                        {% for _ in '12345'|make_list %} 
                        <div class="icon color">
                            {% if forloop.counter <= reputation %}
                            <i class="fa-solid fa-star fa-2x"></i>
                            {% else %}
                            <i class="fa-regular fa-star fa-2x"></i>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <h2>ABOUT</h2>

                    <div class="tab_area post">
                        <div class="tabs">
                            {% for preci in precis %}
                            <div class="button tab thin {% if forloop.first %} active {% endif %}" data-tab_id="{{ preci.game }}">
                                {{ preci.game }}
                            </div>
                            {% endfor %}
                        </div>
                        {% for preci in precis %}
                        <div id="{{ preci.game }}" class="tab_content {% if not forloop.first %} hidden {% endif %}">
                          <textarea id="" name="{{ preci.game }}" rows="4" cols="50">{{ preci.text }}</textarea>
                        </div>
                        {% endfor %}
                    </div>
{% endblock %}