<!-- qwikgame/player/templates/player/rival.html -->
{% extends "content.html" %}


{% block title %}Rival{% endblock %}


{% block name %}Helen{% endblock %}


{% block cta_mobile %}{% endblock %}


{% block cta_desktop %}{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block list %}
        <div class="list_head">
            <h1>Rival Rating</h1>

            <div class="drop_down">
                <div class="btn drop" data-down="false">
                    <div>Group by</div>
                    <div class="fat">v</div>
                </div>
                <div class="down hidden">
                    <label class="toggle option">
                        <input type="radio" name="groupby" checked="checked">
                        date
                    </label>
                    <label class="toggle option">
                        <input type="radio" name="groupby">
                        game
                    </label>
                    <label class="toggle option">
                        <input type="radio" name="groupby">
                        rating
                    </label>
                    <label class="toggle option">
                        <input type="radio" name="groupby">
                        strength
                    </label>
                    <label class="toggle option">
                        <input type="radio" name="groupby">
                        venue
                    </label>
                </div>
            </div>
        </div>
        <h2 class="show_group">
            Your Rivals
            <span>&#9650;</span>
        </h2>
        <div class="group">
            <label class="toggle">
                <input type="radio" name="list" data-id="A">
                <div class="btn item unread">
                    <div class="pole notes">
                        <div class="note">
                            <span class="icon">
                                <i class="fa-solid fa-face-sad-tear fa-1x"></i>
                            </span>
                            <p class="line">Tennis</p>
                        </div>
                        <div class="note">
                            <span class="icon">
                                <i class="fa-solid fa-calendar fa-1x"></i>
                            </span>
                            <p>Aug 4, 17h</p>
                        </div>
                        <div class="note">
                            <span class="icon">
                                <i class="fa-solid fa-location-dot fa-1x"></i>
                            </span>
                            <p>Vasil Levski, Sofia, Bulgaria.</p>
                        </div>
                    </div>
                    <div class="pole badges">
                        <div class="icon todo">
                            <i class="fa-solid fa-hat-cowboy fa-xl"></i>
                        </div>
                    </div>
                </div>
            </label>
            <label class="toggle">
                <input type="radio" name="list" data-id="B">
                <div class="btn item">
                    <div class="pole notes">
                        <div class="note">
                            <span class="icon">
                                <i class="fa-solid fa-face-sad-tear fa-1x"></i>
                            </span>
                            <p class="line">Tennis</p>
                        </div>
                        <div class="note">
                            <span class="icon">
                                <i class="fa-solid fa-calendar fa-1x"></i>
                            </span>
                            <p>Aug 5, 19h</p>
                        </div>
                        <div class="note">
                            <span class="icon">
                                <i class="fa-solid fa-location-dot fa-1x"></i>
                            </span>
                            <p>Vasil Levski, Sofia, Bulgaria.</p>
                        </div>
                    </div>
                    <div class="pole badges">
                        <div class="icon">
                            <i class="fa-solid fa-hat-wizard fa-xl"></i>
                        </div>
                    </div>
                </div>
            </label>
        </div>
        <h2 class="show_group">
            History
            <span class="flip">&#9650;</span>
        </h2>
        <div class="group hidden">
            <p>No history yet!</p>
        </div>
{% endblock %}


{% block detail %}
        <div id="A" class="post detail_n">
            <div class="detail_head">
                <div class="icon todo">
                    <i class="fa-solid fa-hat-cowboy fa-2x"></i>
                </div>
                <div class="pole notes">
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-face-sad-tear fa-1x"></i>
                        </span>
                        <p class="line">Tennis</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-calendar fa-1x"></i>
                        </span>
                        <p>Aug 4, 17h</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-location-dot fa-1x"></i>
                        </span>
                        <p>Vasil Levski, Sofia, Bulgaria.</p>
                    </div>
                </div>
                <div class="drop_down icon head_more">
                    <div class="btn drop todo" data-down="false">
                        <i class="fa-solid fa-ellipsis-vertical fa-2x"></i>
                    </div>
                    <div class="down hidden">
                        <div class="btn tertiary menu">more 1</div>
                        <div class="btn tertiary menu">more 2</div>
                        <div class="btn tertiary menu">more 3</div>
                    </div>
                </div>
                <a class="btn special2 head_back" href="">
                    <i class="fa-solid fa-chevron-left fa-2x"></i>
                </a>
                <a class="btn special2 head_fwd" href="">
                    <i class="fa-solid fa-chevron-right fa-2x"></i>
                </a>
            </div>
            <div class="detail_rival">
                <div class="rival_aberation">
                    <div class="pillar todo">
                        <i class="fa-solid fa-hat-cowboy fa-4x"></i>
                        <p class="name">Pesho</p>
                    </div>
                    <div class="pole">
                        <h2>REPUTATION</h2>
                        <div class="radio_block rival_rate_grid">
                            <label class="toggle">
                                <input type="radio" name="all_week">
                                <div class="btn secondary auto">
                                    <i class="fa-solid fa-thumbs-down fa-2x"></i>
                                    <div class="post">
                                        <p>Bad</p>
                                        <p class="caption">Something was off</p>
                                    </div>
                                </div>
                            </label>
                            <label class="toggle">
                                <input type="radio" name="all_week" checked="checked">
                                <div class="btn secondary auto">
                                    <i class="fa-solid fa-thumbs-up fa-2x"></i>
                                    <div class="post">
                                        <p>Good</p>
                                        <p class="caption">Well mannered</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="pole">
                    <h2>SKILL LEVEL</h2>
                    <div class="slide_labels">
                        <div class="slide_label invisible">Very weak</div>
                        <div class="slide_label invisible">Weak</div>
                        <div class="slide_label ">Well Matched</div>
                        <div class="slide_label invisible">Strong</div>
                        <div class="slide_label invisible">Very Strong</div>
                    </div>
                    <input class="strength" type="range" min="0" max="4" value="2" oninput="slide(this)">
                </div>
                <div class="btn primary push_down">
                    <p>SUBMIT</p>
                </div>
            </div>
        </div>
        <div id="B" class="post detail_n hidden">
            <div class="detail_head">
                <div class="icon">
                    <i class="fa-solid fa-hat-wizard fa-2x"></i>
                </div>
                <div class="pole notes">
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-face-sad-tear fa-1x"></i>
                        </span>
                        <p class="line">Tennis</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-calendar fa-1x"></i>
                        </span>
                        <p>Aug 5, 19h</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-location-dot fa-1x"></i>
                        </span>
                        <p>Vasil Levski, Sofia, Bulgaria.</p>
                    </div>
                </div>
                <a class="btn special2 head_back" href="">
                    <i class="fa-solid fa-chevron-left fa-2x"></i>
                </a>
                <a class="btn special2 head_fwd" href="">
                    <i class="fa-solid fa-chevron-right fa-2x"></i>
                </a>
            </div>
        </div>
{% endblock %}