<!-- qwikgame/player/templates/player/rival_hat_snippet.html -->


	<div class="detail_head">
        <div id="alert_detail_head" class="alert"></div>
        <div class="icon">
            <i class="fa-solid {{ rival.icon }} fa-2x"></i>
        </div>
        <div class='head'>
            <p class="line">
                {{ rival.qwikname }}
            </p>
        </div>
        <div class="drop_down head_more">
            <div class="btn special2 drop" data-down="false">
                <i class="fa-solid fa-ellipsis-vertical fa-2x"></i>
            </div>
                <div class="down hidden">
                    <form id="menu_form " action="{{ request.path }}" method="post">
{% csrf_token %}
                        <label class="btn tertiary">
                            <input hidden name="BLOCK" type="submit" value='{{ rival.pk }}' onclick="return confirm('Block this Player?')">
                            block
                        </label>
                    </form>
                </div>
        </div>
    </div>