<!-- qwikgame/player/templates/player/screen.html -->
{% extends "player/feed.html" %}


{% block title %}Filter{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
    <div id="detail" class="detail">
        <div class="detail_head">
            <div class="icon selected">
                <i class="fa-solid fa-filter fa-2x"></i>
            </div>
            <h1>Invitation Filters</h1>
            <div class="push_right">
                <a class="button ctb" href="{% url 'filter' %}">
                    <i class="fa-solid fa-plus fa-xl"></i>
                    <p>Add</p>
                </a>
            </div>
        </div>

        <div class="post">
            <div class="post form">
                <form action="{% url 'filters' %}" method="post">
{% csrf_token %}
{{ screen_form }}
                    <div class="grid_2_col">
                        <input class="ctc push_down" name="DELETE" type="submit" value="REMOVE" onclick="return confirm('Delete these Filters?')">
                        <input class="cta push_down" name="ACTIVATE" type="submit" value="APPLY">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock detail %}