<!-- templates/authenticate/auth.html -->
{% extends "qwik.html" %}
{% load static %}


{% block css %}
    {{ block.super }}
    <style type="text/css">
        fieldset { max-width: 30em; padding:2em; }
        input { width:100% }
        p.push_down { text-align: center; }
        p.small { font-size: small }
    </style>
{% endblock css %}


{% block tab_bar %}
{% if user.is_authenticated %}
    {{ block.super }}
{% endif %}
{% endblock tab_bar %}

{% block list_bar %}{% endblock list_bar %}

{% block content %}
<div class="pillar">
    <fieldset style="text-align: center;">
        <legend><img class="logo href" src="{% static 'img/qwik-logo.jpg' %}"></legend>
        <div class="pillar">
            <h4>Welcome to Qwikgame</h4>
    {% block detail %}{% endblock detail %}
        </div>
    </fieldset>
</div>
{% endblock content %}
