<!-- templates/authenticate/email_validate_form.html -->
{% extends "auhenticate/email_validate.html" %}
{% load static %}


{% block detail %}
    <div class="pillar push_down">
        <form method="post">
  {% csrf_token %}
  {{ form.email.errors }}
  {{ form.email }}
  {{ form.password }}
            <p>We will send you a verification link to login</p>
            <div class="pillar push_down">
                <label class="btn primary">
                    <input type="submit" hidden>
                    Submit
                </label>
            </div>
        </form>
    </div>
{% endblock detail %}
