<!-- templates/authenticate/register_email_html.html -->
{% extends "email.html" %}
{% load static %}{% load i18n %}


{% block detail %}

    <p style="margin: 0em; padding: 0.3em; text-align: center;">
        {% blocktranslate %}
            You're receiving this email because you requested an account at {{ site_name }}.
        {% endblocktranslate %}
    </p>

    <p style="margin: 0em; padding: 4em; text-align: center;">
        <a style="align-items: center; background-color: #f5a600; border: 1px solid; border-color: #f5a600; border-radius: 0.3em; color: #333333; cursor: pointer; display: inline-block; font-weight: 550;  gap: 0.3em;  margin: 0.3em; min-height: 3em; padding: 1.25em 1.5em; text-decoration: none; width: 6e;" href="{{ protocol }}://{{ domain }}{% url 'login_handle' uidb64=uid token=token %}?next={% url 'appeal' %}">
        	{% blocktranslate %}
                Login
            {% endblocktranslate %}
        </a>
    </p>

{% endblock detail %}

