<!-- qwikgame/person/templates/person/account.html -->
{% extends "content.html" %}


{% block title %}Account{% endblock %}


{% block cta_mobile %}
{% if small_screen %}
    <a class="btn special1 mobile" href="{% url 'upgrade' %}">
    <i class="fa-solid fa-trophy fa-3x"></i>
    </a>
{% endif %}
{% endblock %}


{% block cta_desktop %}
{% if big_screen %}
    <a class="btn special1" href="{% url 'upgrade' %}">
        <i class="fa-solid fa-trophy fa-xl"></i>
        <p>Upgrade</p>
    </a>
{% endif %}
{% endblock %}


{% block list %}
        <div class="post">
            <a class="btn secondary public_class" href="{% url 'public' %}">Public Profile</a>
            <a class="btn secondary private_class" href="{% url 'private' %}">Private Settings</a>
            <a class="btn secondary privacy_class" href="{% url 'privacy' %}">Privacy</a>
            <a class="btn secondary" href="{% url 'login' %}">Log Out</a>
        </div>
{% endblock %}


{% block detail %}{% endblock %}