<!-- qwikgame/person/templates/person/account.html -->
{% extends "content.html" %}
{% load static %}
{% load i18n %}

{% block refresh %}{% endblock refresh %}


{% block script %}
    {{ block.super }}
    <script defer src="{% static '/js/account.js' %}"></script>
{% endblock %}


{% block title %}
    {% translate "Account" %}
{% endblock %}


{% block cta_mobile %}
{% if small_screen %}
    <a class="btn special1 mobile" href="{% url 'upgrade' %}">
    <i class="fa-solid fa-trophy fa-3x"></i>
    </a>
{% endif %}
{% endblock %}


{% block cta_desktop %}
{% if big_screen %}
    <a class="btn special1" href="{% url 'upgrade' %}">
        <i class="fa-solid fa-trophy fa-xl"></i>
        {% translate "Upgrade" %}
    </a>
{% endif %}
{% endblock %}


{% block list %}
        <div class="post">
            <div id="alert_list_start" class="alert"></div>
            <a class="btn secondary public_class" href="{% url 'public' %}">
                <input type="checkbox" name="selected" {{ public_checked }} hidden>
                {% translate "Public Profile" %}
            </a>
            <a class="btn secondary private_class" href="{% url 'private' %}">
                <input type="checkbox" name="selected" {{ private_checked }} hidden>
                {% translate "Private Settings" %}
            </a>
            <a class="btn secondary pwa_class" href="{% url 'pwa' %}">
                <input type="checkbox" name="selected" {{ pwa_checked }} hidden>
                {% translate "QWIKGAME App" %}
            </a>
            <a class="btn secondary privacy_class" href="{% url 'privacy' %}">
                <input type="checkbox" name="selected" {{ privacy_checked }} hidden>
                {% translate "Privacy" %}
            </a>
            <a class="btn secondary terms_class" href="{% url 'terms' %}">
                <input type="checkbox" name="selected" {{ terms_checked }} hidden>
                {% translate "Terms & Conditions" %}
            </a>
            <a class="btn secondary terms_class" href="{% url 'license' %}">
                <input type="checkbox" name="selected" {{ license_checked }} hidden>
                {% translate "Licence" %}
            </a>
            <form id="logout_form" action="{% url 'logout' %}" method="post">
    {% csrf_token %}
                <label class="btn secondary">
                    <input hidden name="logout" type="submit">
                    {% translate "Logout" %}
                </label>
            </form>
            <div id="alert_list_end" class="alert"></div>
        </div>
{% endblock %}


{% block detail %}{% endblock %}