<!-- qwikgame/person/templates/person/available.html -->
{% extends "qwik.html" %}


{% block title %}Account{% endblock %}


{% block name %}Helen{% endblock %}


{% block cta_mobile %}
    <div class="button cta round lge cta_mobile">
        <i class="fa-solid fa-trophy fa-3x"></i>
    </div>
{% endblock %}


{% block cta_desktop %}
        <label id="cta_desktop" class="toggle cta_desktop">
            <input type="radio" name="list" data-id="UPGRADE" {% block upgrade_checked %}{% endblock %}>
            <a class="cta wide" href="{% url 'upgrade' %}">
                <i class="fa-solid fa-trophy fa-xl"></i>
                <p>UPGRADE</p>
            </a>
        </label>
{% endblock %}


{% block list_bar %}
        <hr>
        <div class="group">
            <a class="{% block public_class %}{% endblock %}" href="{% url 'public' %}">Public Profile</a>
            <a class="{% block private_class %}{% endblock %}" href="{% url 'private' %}">Private Settings</a>
            <a class="{% block privacy_class %}{% endblock %}" href="{% url 'privacy' %}">Privacy</a>
        </div>
{% endblock %}