<!-- qwikgame/person/templates/person/privacy.html -->
{% extends "person/account.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        @page { size: 21cm 29.7cm; margin: 2cm }
        p { line-height: 115%; margin-bottom: 0.25cm; background: transparent }
        h1 { margin-left: 1.5cm; text-indent: -1.5cm; margin-bottom: 0.21cm; background: transparent; page-break-after: avoid }
        h1.western { font-family: "Liberation Sans", sans-serif; font-size: 16pt; font-weight: bold }
        h1.cjk { font-family: "Noto Sans CJK SC"; font-size: 16pt; font-weight: bold }
        h1.ctl { font-family: "Lohit Devanagari"; font-size: 16pt; font-weight: bold }
        a:link { color: #000080; so-language: zxx; text-decoration: underline }
    </style>    
{% endblock css %}


{% block privacy_class %}selected{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
    <div id="detail" class="detail">
        <div id="PRIVACY" class="post">
            <div class="detail_head">
                <h1>PRIVACY</h1> 
                <a href="{% static 'qwikgame.org privacy policy.pdf' %}">pdf</a>
            </div>
            <div title="header"><p align="left" style="line-height: 150%; margin-bottom: 0cm">
    <font face="Liberation Sans, sans-serif">   <font size="4" style="font-size: 16pt"><b>www.qwikgame.org</b></font></font></p>
    <p align="left" style="line-height: 150%; margin-bottom: 0cm"><font face="Liberation Sans, sans-serif"><font size="4" style="font-size: 14pt"><b>   Privacy
    Policy and Notice</b><font size="3" style="font-size: 12pt"><span style="font-weight: normal">  </span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">23</span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">-09-20</span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">20</span></font></font></font></p>
    <p align="left" style="font-weight: normal; line-height: 150%; margin-bottom: 0.5cm">
    <br/>

    </p>
</div><p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><font face="Liberation Sans, sans-serif">This
is the privacy notice of www.qwikgame.org. In this document, ““we”,
“our”, or “us” refers to Qwikgame Incorporated, No. A0110627Z</font></p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><font face="Liberation Sans, sans-serif">Our
registered office is at 261 Gibbs lane, Moyhu, 3732, Australia.</font></p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><font face="Liberation Sans, sans-serif">This
is a notice to inform you of our policy about all information that we
record about you. It covers both information that could and could not
identify you and information.</font></p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><font face="Liberation Sans, sans-serif">We
are extremely concerned to protect your privacy and confidentiality.
We understand that all users of our web site are quite rightly
concerned to know that their data will not be used for any purpose
unintended by them, and will not accidentally fall into the hands of
a third party. Our policy is both specific and strict. It complies
with Australian law. If you think our policy falls short of your
expectations or that we are failing to abide by our policy, <b>do
please tell us</b>.</font></p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><font face="Liberation Sans, sans-serif">We
regret that if there are one or more points below with which you are
not happy, your only recourse is to leave our web site and
application immediately.</font></p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><font face="Liberation Sans, sans-serif">Except
as set out below, we do not share, or sell, or disclose to a third
party, any personally identifiable information collected at this
site.</font></p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><font face="Liberation Sans, sans-serif">Here
is a list of the information we collect from you, either through our
web site and Application or because you give it to us in some other
way, and why it is necessary to collect it:</font></p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<h1 class="western">1.  Business and personal information</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">This includes basic
identification and contact information, such as your name and contact
details and also includes all information given to us in the course
of your business and ours, such as information you give us in your
capacity as our client. We undertake to preserve the confidentiality
of the information and of the terms of our relationship. It is not
used for any other purpose. We expect you to reciprocate this policy.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent">
<br/>

</p>
<p align="justify" style="line-height: 100%; margin-left: 2.5cm; text-indent: -1cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">This information is used:</font></p>
<p align="justify" style="line-height: 100%; margin-left: 2.5cm; text-indent: -1cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">1.1.   to provide you with the
services which you request;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 2.5cm; text-indent: -1cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">1.2.   for verifying your
identity for security purposes;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 2.5cm; text-indent: -1cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">1.3.   for marketing our
services and products;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 2.5cm; text-indent: -1cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">1.4    information which does
not identify any individual may be used in a general way by us or
third parties, to provide class information, for example relating to
demographics or usage of a particular page or service.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 2.5cm; text-indent: -1cm; margin-bottom: 0cm; background: transparent">
<br/>

</p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">We keep information, which
forms part of our business record for a minimum of six years. That is
because we may need it in some way to support a claim or defence in
court. That is also the period within which our tax collecting
authorities may demand to know it.</font></p>
<h1 class="western">2.  Your domain name and e-mail address</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">This information is
recognised by our servers and the pages that you visit are</font></p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">recorded. We shall not under
any circumstances, divulge your e-mail address</font></p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">to any person who is not an
employee or contractor of ours and who does not</font></p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">need to know, either
generally or specifically. This information is used:</font></p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent">
<br/>

</p>
<p align="justify" style="line-height: 100%; margin-left: 2.5cm; text-indent: -1cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">2.1.   to correspond with you
or deal with you as you expect;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 2.5cm; text-indent: -1cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">2.2.   in a collective way not
referable to any particular individual, for the purpose of quality
control and improvement of our site;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 2.5cm; text-indent: -1cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">2.3.   to send you news about
the services to which you have signed up;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 2.5cm; text-indent: -1cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">2.4.   to tell you about other
of our services or services of sister web sites.</font></p>
<h1 class="western">3.  Information you post on our website</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">Information you send to us
by posting to a www.qwikgame.org website, is stored on our servers.
www.qwikgame.org will aggregate the information that Members post to
estimate the game skill and reputation of other Members; including
you. These estimates are made available between Members. This
information is retained, in anonymous form, even if you choose to
stop using www.qwikgame.org Services.</font></p>
<h1 class="western">4.  Website usage information</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">We may use software embedded
in our website (such as JavaScript) to collect information about
pages you view and how you have reached them, what you do when you
visit a page, the length of time you remain on the page, and how we
perform in providing content to you.</font></p>
<h1 class="western">5.  Third party content</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">Our web site is a publishing
medium in that anyone may register and then publish information about
himself or some other person. We do not moderate or control what is
posted. If you complain about any of the content on our web site, we
shall investigate your complaint. If we feel, it may be justified, we
shall remove it while we investigate. Free speech is a fundamental
right, so we have to make a judgement as to whose right will be
obstructed: yours, or that of the person who posted the content which
offends you. If we think, your complaint is vexatious or without any
basis, we shall not correspond with you about it.</font></p>
<h1 class="western">6.  Information we obtain from third parties</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">Although we do not disclose
your personal information to any third party (except as set out in
this notice), we do receive data which is indirectly made up from
your personal information, such as uploaded player rankings.</font></p>
<h1 class="western" style="background: transparent; page-break-before: auto; page-break-after: avoid">
7.  Content you provide to us with a view to be used by third
party</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">If you provide information
to us with a view to it being read, copied, downloaded, or used by
other people, we accept no responsibility for what that third party
may do with it. It is up to you to satisfy yourself about the privacy
level of every person who might see your information. If it is
available to all the World, neither we nor you have no control
whatever as to how it is used.</font></p>
<h1 class="western">8.  Cookies</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">Cookies are small text files
that are placed on your computer's hard drive through your web
browser when you visit any web site. They are widely used to make web
sites work, or work more efficiently, as well as to provide
information to the owners of the site.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent">
<br/>

</p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">www.qwikgame.org currently
uses only 3 cookies.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">1. your unique
identification on qwikgame</font></p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">2. a token that confirms
your identity</font></p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">3. a token unique to each
active session that you have on qwikgame</font></p>
<h1 class="western">9.  Sending a message to our support system</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">When you send a message, we
collect the data you have given to us in that message in order to
obtain confirmation that you are entitled to receive the information
and to provide to you the information you need. We record your
request and our reply in order to increase the efficiency of our
business / organisation.</font></p>
<h1 class="western">10. Complaining</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">When we receive a complaint,
we record all the information you have given to us. We use that
information to resolve your complaint. If your complaint reasonably
requires us to contact some other person, we may decide to give to
that other person some of the information contained in your
complaint. We do this as infrequently as possible, but it is a matter
for our sole discretion as to whether we do give information, and if
we do, what that information is. We may also compile statistics
showing information obtained from this source to assess the level of
service we provide, but not in a way that could identify you or any
other person.</font></p>
<h1 class="western">11. Job application and employment</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">Qwikame.org does not
employee people, but does purchase goods and services from
independent people and organisations from time to time.</font></p>
<h1 class="western">12. Marketing information</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">We will not willingly pass
your email address to any third party.</font></p>
<h1 class="western">13. Re-marketing</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">We do not use re-marketing.</font></p>
<h1 class="western">14. Affiliate information</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">This is information given to
us by you in your capacity as an affiliate of us or a customer or
client of ours. Such information is retained for business use only.
We undertake to preserve the confidentiality of the information and
of the terms of our relationship. It is not used for any other
purpose. We expect any affiliate to agree to reciprocate this policy.
As an exception to this, we have the right to disclose your first
name and URL of your affiliate connection to other affiliates and to
any other person or organisation, on and off site. The reason is
solely to enable us to mention winners and others whose performance
as an affiliate is in some way outstanding.</font></p>
<h1 class="western">15. Use of site by children</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">We do not market to
children, nor do we sell products or services for purchase by
children. We do provide products and services for end use by
children, but with facilitation and oversight by adults. If you are
under 18, you may use our site only with consent from a parent or
guardian.</font></p>
<h1 class="western">16. Disclosure to Government and their agencies</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">We are subject to the law
like everyone else. We may be required to give information to legal
authorities if they so request or if they have the proper
authorisation such as a search warrant or court order.</font></p>
<h1 class="western">17. Compliance with the law</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">This confidentiality policy
has been compiled so as to comply with the law of every jurisdiction
in which we aim to do business. If you think it fails to satisfy the
law of your country, we should like to hear from you, but ultimately
it is your choice as to whether you wish to use our website.</font></p>
<h1 class="western">18. Review or update personally identifiable
information</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">At any time you may review
or update the personally identifiable information that we hold about
you, by contacting us at the address below. To better safeguard your
information, we will also take reasonable steps to verify your
identity before granting access or making corrections to your
information.</font></p>
<h1 class="western" style="margin-left: 0cm; text-indent: 0cm; background: transparent; page-break-before: auto; page-break-after: avoid">
19. Removal of your information</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">If you wish us to remove
personally identifiable information from our web site, you do so by
logging in using the link provided by email and clicking the “Quit”
button. To better safeguard your information, we will also take
reasonable steps to verify your identity before granting access or
making corrections to your information.</font></p>
<h1 class="western">20. Data may be “processed” outside Australia</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.6cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">Our web sites are hosted in
the United States of America. We also use outsourced services in
countries outside Australia from time to time in other aspects of our
business. Accordingly data obtained within Australia may be
“processed” outside Australia and data obtained in any other
country may be processed within or outside that country.</font></p>
<h1 class="western">21. Complaints procedure</h1>
<p align="justify" style="line-height: 100%; margin-left: 2.5cm; text-indent: -1cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">21.1.  If you have a
complaint about how we have collected or handled your personal
information, please contact us. We will endeavour in the first
instance to deal with your complaint and take action to resolve the
matter.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 2.5cm; text-indent: -1cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">21.2.  If your complaint
cannot be resolved at the first instance, we will ask you to lodge a
formal complaint in writing, explaining the circumstances of the
matter that you are complaining about, how you believe your privacy
has been interfered with and how you believe your complaint should be
resolved.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 2.5cm; text-indent: -1cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">21.3.  We will acknowledge
receipt of your formal complaint and indicate the timeframe that you
can expect a response. We will endeavour to resolve the complaint as
quickly as possible, but if the matter is complex and our
investigation may take longer, we will let you know when we expect to
provide our response.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 2.5cm; text-indent: -1cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">21.4.  If you are unhappy
with our response, you may refer your complaint to the Office of the
Australian Information Commissioner.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<br/>

</p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif"><b>How you can contact us</b></font></p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent">
<br/>

</p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif"><b>Emailing</b>
<a href="mailto:complaint@qwikgame.org">complaint@qwikgame.org</a></font></p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent">
<br/>

</p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif"><b>Sending</b> a letter to
us at:</font></p>
<p align="justify" style="line-height: 100%; margin-left: 2.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">Attn: Privacy Officer</font></p>
<p align="justify" style="line-height: 100%; margin-left: 2.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">261 Gibbs Lane Moyhu 3732.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent">
<br/>

</p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif"><b>OAIC contact details:</b></font></p>
<p align="justify" style="line-height: 100%; margin-left: 2.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">Officer of the Australian
Information Commissioner (OAIC)</font></p>
<p align="justify" style="line-height: 100%; margin-left: 2.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">Email: enquiries@oaic.gov.au</font></p>
<h1 class="western">22. Change in Privacy Policy</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.6cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">As we plan to ensure our
privacy policy remains current, this policy is subject to change.
Please return periodically to review our privacy policy.</font></p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><font face="Liberation Sans, sans-serif">If
you have any question regarding the privacy policy, please contact us
through the</font></p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><font face="Liberation Sans, sans-serif"><a href="https://forum.qwikgame.org/">forum.qwikgame.org</a>.</font></p>
        </div>
    </div>
{% endblock %}