<!-- qwikgame/person/templates/person/private.html -->
{% extends "person/account.html" %}
{% load static %}
{% load webpush_notifications %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        div.drop { justify-content: space-between; }
    </style>
{% endblock css %}


{% block script %}
    {% webpush_header %}
    <script defer src="{% static 'js/qwik-pwa-install.js' %}"></script>
    {{ block.super }}
    <script defer src="{% static 'private.js' %}"></script>
{% endblock %}

{% block private_class %}selected{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
    <div id="detail" class="detail">
        <div id="PRIVATE" class="post">
            <div class="detail_head">
                <div class="identicon" data-hash="{{ person.email_hash }}"></div>
                <h2>PRIVATE SETTINGS</h2> 
            </div>
            <div class="post detail_body">
                <div class="post form">
                    <form action="{% url 'private' %}" method="post" name="private">
                        <div class="post">
                            <h3>
                                EMAIL ADDRESS
                                <div class="btn tertiary">
                                    Change (coming soon)
                                </div>
                            </h3>
                            <p>{{ email }}</p>
{% csrf_token %}
{{ private_form }}
                        </div>
                    </form>
                    <form id="unblock_form" action="{% url 'private' %}" method="post">
                        <div class="post">
{% csrf_token %}
{{ blocked_form }}
                            <div class="pillar">
                                <label class="btn primary">
                                    <input hidden type="submit" form="unblock_form" name="unblock">
                                    UnBlock
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}