<!-- qwikgame/person/templates/person/public.html -->
{% extends "person/account.html" %}


{% block public_class %}selected{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
    <div id="detail" class="detail">
        <div id="PUBLIC" class="post">
            <div class="detail_head">
                <h1>PUBLIC PROFILE</h1> 
            </div>
            <div class="post detail_body">
                <div class="post form">
                    <form action="{% url 'public' %}" method="post">
{% csrf_token %}
{{ public_form }}
{% include 'player/account_public_snippet.html' %}
{% comment %}
{% include 'manager/account_public_snippet.html' %}
{% endcomment %}
                        <div class="pillar">
                            <label class="btn primary push_down">
                                <input hidden type="submit">
                                Save
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}