<!-- qwikgame/person/templates/person/public.html -->
{% extends "person/account.html" %}


{% block public_class %}selected{% endblock %}


{% block detail %}
        <div id="PUBLIC" class="post">
            <div class="detail_head">
                <h1>PUBLIC PROFILE</h1> 
            </div>
            <div class="post detail_body">
                <div class="post form">
                    <form action="{% url 'public' %}" method="post">
                        {% csrf_token %}
                        {{ person_form }}
                        {% block player_public %}{% endblock %}
                        {% block manager_public %}{% endblock %}
                        <input class="button cta push_down wide schedule_save" type="submit" value="SAVE">
                    </form>
                </div>
            </div>
        </div>
{% endblock %}