<!-- qwikgame/person/templates/person/terms.html -->
{% extends "person/account.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        @page { size: 21cm 29.7cm; margin: 2cm }
        p { line-height: 115%; margin-bottom: 0.25cm; background: transparent }
        h1 { margin-bottom: 0.21cm; background: transparent; page-break-after: avoid }
        h1.western { font-family: "Liberation Sans", sans-serif; font-size: 16pt; font-weight: bold }
        h1.cjk { font-family: "Noto Sans CJK SC"; font-size: 16pt; font-weight: bold }
        h1.ctl { font-family: "Lohit Devanagari"; font-size: 16pt; font-weight: bold }
        a:link { color: #000080; text-decoration: underline }
        a:visited { color: #800000; text-decoration: underline }
    </style>
{% endblock css %}


{% block privacy_class %}selected{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
    <div id="detail" class="detail">
        <div id="PRIVACY" class="post">
            <div class="detail_head">
                <h1>TERMS & CONDITIONS</h1> 
                <a href="{% static 'qwikgame.org terms and conditions.pdf' %}">pdf</a>
            </div>
<div title="header"><p align="left" style="line-height: 150%; margin-bottom: 0cm">
    <font face="Liberation Sans, sans-serif">   <font size="4" style="font-size: 16pt"><b>www.q</b></font><font size="4" style="font-size: 16pt"><b>wikgame.org</b></font></font></p>
    <p align="left" style="line-height: 150%; margin-bottom: 0cm"><font face="Liberation Sans, sans-serif"><font size="4" style="font-size: 14pt"><b>   Terms
    and Conditions</b><font size="3" style="font-size: 12pt"><span style="font-weight: normal"> </span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">23</span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">-09-20</span></font><font size="3" style="font-size: 12pt"><span style="font-weight: normal">20</span></font></font></font></p>
    <p align="left" style="font-weight: normal; line-height: 150%; margin-bottom: 0.5cm">
    <br/>

    </p>
</div><p align="justify" style="line-height: 100%; margin-bottom: 0cm">
<br/>

</p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><font face="Liberation Sans, sans-serif">These
terms and conditions are the contract between you and
www.qwikgame.org (“us”, “we”, etc). By visiting or using Our
Website, you agree to be bound by them.</font></p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><font face="Liberation Sans, sans-serif">www.qwikgame.org
is a trade name of Qwikgame Incorporated No. A0110627Z, whose
registered office is at 261 Gibbs lane, Moyhu, 3732, Australia. </font>
</p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><font face="Liberation Sans, sans-serif">Under
18 years? Sorry, but we deal only with people who are legally able to
enter into a binding contract. Please ask someone over 18 to buy
Service on your behalf. Please read this agreement carefully and save
it. If you do not agree with it, you should leave Our Website and
stop using the site or the Services immediately.</font></p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><font face="Liberation Sans, sans-serif"><b>These
are the agreed terms</b></font></p>
<h1 class="western" align="justify">1.  Definitions</h1>
<p align="justify" style="line-height: 100%; margin-left: 4cm; text-indent: -2.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">In this agreement, the
following words shall have the following meanings, unless the context
requires otherwise:</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4cm; text-indent: -2.5cm; margin-bottom: 0cm; background: transparent">
<br/>

</p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -3cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
“<font face="Liberation Sans, sans-serif">Content”  means the
textual, visual or aural content that is encountered as part of your
experience on Our Website. It may include, among other things: text,
images, sounds, videos and animations. It includes content Posted by
you.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -3cm; margin-bottom: 0cm; background: transparent">
<br/>

</p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -3cm; margin-bottom: 0cm; background: transparent">
“<font face="Liberation Sans, sans-serif">www.qwikgame.org
Membership” means any service we provide, whether through Our
Website or otherwise. It includes the membership service we provide
as set out on Our Website and in this contract.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -3cm; margin-bottom: 0cm; background: transparent">
<br/>

</p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -3cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">&quot;Post&quot;   means
display, exhibit, publish, distribute, transmit and/or disclose
information, Content and/or other material on Our Website, and the
phrases &quot;Posted&quot; and &quot;Posting&quot; shall be
interpreted accordingly.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -3cm; margin-bottom: 0cm; background: transparent">
<br/>

</p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -3cm; margin-bottom: 0cm; background: transparent">
“<font face="Liberation Sans, sans-serif">Services” means all of
the services available from Our Website, whether free or charged.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -3cm; margin-bottom: 0cm; background: transparent">
<br/>

</p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -3cm; margin-bottom: 0cm; background: transparent">
“<font face="Liberation Sans, sans-serif">Our Website”  means any
website or service designed for electronic access by mobile or fixed
devices which is owned or operated by us. It includes all web pages
controlled by us.</font></p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<h1 class="western">2.  Our contract</h1>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">2.1    These terms and
conditions regulate the business relationship between you and us. By
securing www.qwikgame.org Membership or using Our Website free of
charge, you agree to be bound by them.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">2.2    We do not offer the
Services in all countries. We may refuse to provide the Services if
you live in a country we do not serve.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">2.3    In entering into this
contract you have not relied on any representation or information
from any source except the definition and explanation of the Services
given on Our Website.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">2.4    Subject to these terms
and conditions, we agree to provide to you some or all of the
Services described on Our Website.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">2.5    Our contract with you
and licence to you last for one month from the date of start. Any
continuation by us or by you after the expiry of one month is a new
contract under the terms then posted on Our Website. Your continued
use of our Services after that shall be deemed acceptance by you of
the changed Service, system and/or terms.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">2.6    The contract between us
comes into existence only when we write to you to confirm that we
agree to provide to you the Service you want.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">2.7    We may change this
agreement in any way at any time. The version applicable to your
contract is the version which was posted on Our Website at the time
that the contract was made.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<br/>

</p>
<h1 class="western">3   Your account and personal information</h1>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">3.1    When you visit Our
Website, you accept responsibility for any action done by any person
in your name or under your account or password. You should take all
necessary steps to ensure that the password is kept confidential and
secure and should inform us immediately if you have any reason to
believe that your password has become known to anyone else, or if the
password is being, or is likely to be, used in an unauthorised
manner.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">3.2    You agree that you have
provided accurate, up to date, and complete information about
yourself. We are not responsible for any error made as a result of
such information being inaccurate.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">3.3    You agree to notify us
of any changes in your information immediately it occurs. If you do
not do so, we may terminate your account.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<br/>

</p>
<h1 class="western">4.  www.qwikgame.org Membership</h1>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">4.1    Our basic Service is
free of charge. You may use it subject to your compliance with the
terms of this agreement.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">4.2    Details of the cost and
benefits of www.qwikgame.org Membership are as set out on Our
Website. You may subscribe to www.qwikgame.org Membership Services at
any time.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">4.3    You do not have to take
any action for this to apply. By accepting these terms and
conditions, you do instruct us to provide the www.qwikgame.org
Membership Services.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">4.4    Apart from your
cancellation right, termination of www.qwikgame.org Membership will
be regulated by this contract set out in paragraph 12 below.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">4.5    You may not transfer
your www.qwikgame.org Membership to any other person.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">4.6    We reserve the right to
modify the www.qwikgame.org Membership rules or system and to change
the terms and conditions of this agreement at any time, without
notice. Your continued use of the www.qwikgame.org Membership after
such modifications shall be deemed an acceptance by you to be bound
by the terms of the modified agreement. The terms that apply to you
are those posted here on Our Website on the day you join as a member.</font></p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<h1 class="western">5.  Prices</h1>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">5.1    All www.qwikgame.org
Membership and Services are currently provided free of charge.</font></p>
<p align="justify" style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<h1 class="western">6.  Restrictions on what you may Post to Our
Website</h1>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">6.1    We may, at our
discretion, read, assess, review or moderate any Content Posted on
Our Website. If we do, we need not to notify you or give you a
reason.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">6.2    You agree that you will
not use or allow anyone else to use Our Website to Post a Content
which is or may:</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">6.2.1  be malicious or
defamatory;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">6.2.2  consist in commercial
audio, video or music files;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">6.2.3  be obscene, offensive,
threatening or violent;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">6.2.4  be sexually explicit
or pornographic;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">6.2.5  be likely to deceive
any person or be used to impersonate any person, or to misrepresent
your identity, age or affiliation with any person;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">6.2.6  give the impression
that it emanates from us or that you are connected with us or that we
have endorsed you or your business;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">6.2.7  solicit passwords or
personal information from anyone;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">6.2.8  be used to sell any
goods or services or for any other commercial use;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">6.2.9  include anything other
than words (i.e. you will not include any symbols or photographs)
except for a photograph of yourself in your profile in such place as
we designate;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">6.2.10 link to any of the
material specified above, in this paragraph.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">6.2.11 Post excessive or
repeated off-topic messages to any forum or group;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">6.2.12 sending
age-inappropriate communications or Content to anyone under the age
of 18.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<br/>

</p>
<h1 class="western">7.  Your Posting: restricted content</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">In connection with the
restrictions set out below, we may refuse or edit or remove a Posting
which does not comply with these terms.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent">
<br/>

</p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">In addition to the
restrictions set out above, a Posting must not contain:</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">7.1    hyperlinks, other than
those specifically authorized by us;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">7.2    keywords or words
repeated, which are irrelevant to the Content Posted.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">7.3    the logo or trademark of
any organisation other than that of you or your client.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">7.4    inaccurate, false, or
misleading information.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<br/>

</p>
<h1 class="western">8.  How we handle your Content</h1>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">8.1    Our privacy policy is
strong and precise. It complies fully with current law.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">8.2    www.qwikgame.org will
aggregate the information that Members post to estimate the game
skill and reputation of other Members; including you. These estimates
are made available between Members. This information is retained, in
anonymous form, even if you choose to stop using www.qwikgame.org
Services.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">8.3    If you Post Content to
any public area of Our Website it becomes available in the public
domains. We have no control who sees it or what anyone does with it.
You should therefore avoid Posting unnecessary confidential
information.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">8.4    Posting content of any
sort does not change your ownership of the copyright in it. We have
no claim over it and we will not protect your rights for you.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">8.5    You understand that you
are personally responsible for your breach of someone else’s
intellectual property rights, defamation, or any law, which may occur
as a result of any Content having been Posted by you.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">8.6    You accept all risk and
responsibility for determining whether any Content is in the public
domain and not confidential.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">8.7    Please notify us of any
security breach or unauthorised use of your account.</font></p>
<h1 class="western">9.  Removal of offensive Content</h1>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">9.1    For the avoidance of
doubt, this paragraph is addressed to any person who comes on Our
Website for any purpose.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">9.2    We are under no
obligation to monitor or record the activity of any customer for any
purpose, nor do we assume any responsibility to monitor or police
Internet-related activities. However, we may do so without notice to
you and without giving you a reason.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">9.3    If you are offended by
any Content, the following procedure applies:</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">9.3.1  your claim or
complaint must be submitted to us in the form available on Our
Website, or contain the same information as that requested in our
form. It must be sent to us by post or email;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">9.3.2  we shall remove the
offending Content as soon as we are reasonably able;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">9.3.3  after we receive
notice of a claim or complaint, we shall investigate so far as we
alone decide;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">9.3.4  we may re-instate the
Content about which you have complained or not.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">9.4    In respect of any
complaint made by you or any person on your behalf, whether using our
form of complaint or not, you now irrevocably grant to us a licence
to publish the complaint and all ensuing correspondence and
communication, without limit.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">9.5    You now agree that if
any complaint is made by you frivolously or vexatiously you will
repay us the cost of our investigation including legal fees, if any.</font></p>
<h1 class="western">10. Security of Our Website</h1>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">If you violate Our Website,
we shall take legal action against you.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<br/>

</p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">You now agree that you will
not, and will not allow any other person to:</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">10.1   modify, copy, or cause
damage or unintended effect to any portion of Our Website, or any
software used within it.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">10.2   link to Our Website in
any way that would cause the appearance or presentation of the site
to be different from what would be seen by a user who accessed the
site by typing the URL into a standard browser;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">10.3   download any part of
Our Website, without our express written consent;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">10.4   collect or use any
product listings, descriptions, or prices;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">10.5   collect or use any
information obtained from or about Our Website or the Content except
as intended by this agreement;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">10.6   aggregate, copy or
duplicate in any manner any of the Content or information available
from Our Website, other than as permitted by this agreement or as is
reasonably necessary for your use of the Services;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">10.7   share with a third
party any login credentials to Our Website.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">10.8   Despite the above
terms, we now grant a licence to you to:</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">10.8.1 create a hyperlink to
Our Website for the purpose of promoting an interest common to both
of us. You can do this without specific permission. This licence is
conditional upon your not portraying us or any product or service in
a false, misleading, derogatory, or otherwise offensive manner. You
may not use any logo or other proprietary graphic or trademark of
ours as part of the link without our express written consent.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">10.8.2 you may copy the text
of any page for your personal use in connection with the purpose of
Our Website or a Service we provide.</font></p>
<h1 class="western">11. Disclaimers</h1>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">11.1   The law differs from
one country to another. This paragraph applies so far as the
applicable law allows.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">11.2   All implied conditions,
warranties and terms are excluded from this agreement. If in any
jurisdiction an implied condition, warrant or term cannot be
excluded, then this sub paragraph shall be deemed to be reduced in
effect, only to the extent necessary to release that specific
condition, warranty or term.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">11.3   The www.qwikgame.org
Website and www.qwikgame.org Services are provided “as is”. We
make no representation or warranty that the Services will be:</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">11.3.1 useful to you;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">11.3.2 of satisfactory
quality;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">11.3.3 fit for a particular
purpose;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">11.3.4 available or
accessible, without interruption, or without error;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">11.4   Neither use of the
Services nor the exercise of any right granted under this agreement
will infringe any other intellectual property or other rights of any
other person.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">11.5   Our Website contains
links to other Internet websites. We have neither  power nor control
over any such website. You acknowledge and agree that we shall not be
liable in any way for the Content of any such linked website, nor for
any loss or damage arising from your use of any such website.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">11.6   We are not liable in
any circumstances for special, indirect or consequential damages or
any damages whatsoever resulting from loss of use, loss of data or
loss of revenues or profits, whether in an action of contract,
negligence or otherwise, arising out of or in connection with your
use of Our Website.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">11.7   We claim no expert
knowledge in any subject. We disclaim any obligation or liability to
you arising directly or indirectly from information you take from Our
Website or receive directly from a third party as a result of an
introduction via Our Website.</font></p>
<h1 class="western">12. Duration and termination</h1>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">12.1   This agreement shall
operate for the period for which you have subscribed to
www.qwikgame.org Membership Service.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">12.2   You may terminate this
agreement at any time, for any reason, with immediate effect. You may
terminate the agreement by completing the form on the website and
submitting it. We reserve the right to check the validity of any
request to terminate membership</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">12.3   We may terminate this
agreement at any time, for any reason, with immediate effect by
sending you notice to that effect by email.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">12.4   Termination by either
party shall have the following effects:</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">12.4.1 your right to use the
Services immediately ceases;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">12.4.2 we are under no
obligation to forward any unread or unsent messages to you or any
third party.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">12.5   We retain the right, at
our sole discretion, to terminate any and all parts of the Services
provided to you, without refunding to you any fees paid if we decide
in our absolute discretion that you have failed to comply with any of
the terms of this agreement.</font></p>
<h1 class="western">13. Storage of data</h1>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">13.1   We assume no
responsibility for the deletion or failure to store or deliver email
or other messages.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">13.2   We may, from time to
time, set a limit on the number of messages you may send, store, or
receive through the Service. We may delete messages in excess of that
limit. We shall give you notice of any change to your limit, except
in an emergency.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">13.3   You accept that we
cannot be liable to you for any such deletion or failure to deliver
to you.</font></p>
<h1 class="western">14. Interruption to Services</h1>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">14.1   If it is necessary for
us to interrupt the Services, we will give you reasonable notice
where this is possible and when we think the down time is such as to
justify telling you.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">14.2   You acknowledge that
the Services may also be interrupted for many reasons beyond our
control.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">14.3   You agree that we are
not liable to you for any loss, foreseeable or not, arising from any
interruption to the Services.</font></p>
<h1 class="western">15. Limitation of liability</h1>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">15.1   Our total liability to
you, for any one event or series of related events, and whether in
contract, tort, negligence, breach of statutory duty or otherwise,
shall be $100 in aggregate.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">15.2   Neither party shall be
liable to the other in any possible way, for any loss or expense
which is:</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">15.2.1 indirect or
consequential loss; or</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">15.2.2 economic loss or
other loss of turnover, profits, business or goodwill.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">15.3   This paragraph (and any
other paragraph which excludes or restricts our liability) applies to
our directors, officers, employees, subcontractors, agents and
affiliated companies as well as to us.</font></p>
<h1 class="western">16. Indemnity</h1>
<p align="justify" style="line-height: 100%; margin-left: 1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">You agree to indemnify us
against any loss, damage or liability, suffered by us at any time and
arising out of:</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">16.1   any act, neglect or
default of yours in connection with this agreement or your use of the
Services;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">16.2   your breach of this
agreement;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">16.3   your failure to comply
with any law;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">16.4   a contractual claim
arising from your use of the Services.</font></p>
<h1 class="western">17. Miscellaneous matters</h1>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">17.1   If any term or
provision of this agreement is at any time held by any jurisdiction
to be void, invalid or unenforceable, then it shall be treated as
changed or reduced, only to the extent minimally necessary to bring
it within the laws of that jurisdiction and to prevent it from being
void and it shall be binding in that changed or reduced form. Subject
to that, each provision shall be interpreted as severable and shall
not in any way affect any other of these terms.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">17.2   The rights and
obligations of the parties set out in this agreement shall pass to
any permitted successor in title.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">17.3   If you are in breach of
any term of this agreement, we may:</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">17.3.1 publish all text and
Content relating to the claimed breach, including your name and email
address and all correspondence between us and our respective
advisers; and you now irrevocably give your consent to such
publication;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">17.3.2 terminate your
account and refuse access to Our Website;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">17.3.3 remove or edit
Content, or cancel any order at our discretion;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">17.3.4 issue a claim in any
court.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">17.4   Any obligation in this
agreement intended to continue to have effect after termination or
completion shall so continue.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">17.5   No failure or delay by
any party to exercise any right, power or remedy will operate as a
waiver of it nor indicate any intention to reduce that or any other
right in the future.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">17.6   Any communication to be
served on either of the parties by the other shall be delivered by
hand or sent by first class post or recorded delivery or by e-mail.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<br/>

</p>
<p align="justify" style="line-height: 100%; margin-left: 4.5cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">It shall be deemed to have
been delivered:</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4cm; margin-bottom: 0cm; background: transparent; page-break-before: auto">
<font face="Liberation Sans, sans-serif">if delivered by hand: on the
day of delivery;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">if sent by post to the
correct address: within 72 hours of posting;</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">If sent by e-mail to the
address from which the receiving party</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">has last sent e-mail: within
24 hours if no notice of non-receipt</font></p>
<p align="justify" style="line-height: 100%; margin-left: 4cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">has been received by the
sender.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">17.7   In the event of a
dispute between the parties to this agreement, then they undertake to
attempt to settle the dispute by engaging in good faith with the
other in a process of mediation before commencing arbitration or
litigation.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">17.8   This agreement does not
give any right to any third party.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">17.9   Neither party shall be
liable for any failure or delay in performance of this agreement
which is caused by circumstances beyond its reasonable control.</font></p>
<p align="justify" style="line-height: 100%; margin-left: 3cm; text-indent: -1.5cm; margin-bottom: 0cm; background: transparent">
<font face="Liberation Sans, sans-serif">17.10  The validity,
construction and performance of this agreement shall be governed by
the laws of the State of Victoria.</font></p>
<div title="footer"><p align="right" style="line-height: 100%; margin-top: 0.5cm; margin-bottom: 0cm">
    <font face="Liberation Sans, sans-serif">© NL Document Library</font></p>
</div>
    </div>
{% endblock %}