<!-- qwikgame/person/templates/person/upgrade.html -->
{% extends "person/account.html" %}
{% load i18n %}


{% block upgrade_class %}selected{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
    <div id="detail" class="detail">
        <div id="UPGRADE" class="post">
            <div class="detail_head">
                <div class="identicon" data-hash="{{ user.hash }}"></div>
                <h2>{% translate "UPGRADE" %}</h2> 
            </div>
            <h3>{% translate "coming soon" %}</h3>
        </div>
    </div>
{% endblock %}