
/************** reset *********************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}


/************** . **************************/

.button_accept {
    padding: 1em;
}
.button_decline {
    padding: 1em;
}
.button_cta {
    align-items: center;
    background-color:orange;
    border: 1px solid black;
    border-radius: 0.3em;
    display:flex;
    flex-direction: row;
    flex: auto;
    justify-content: space-evenly;
    margin:0.3em;
    padding: 0.3em;
    text-align: center;
}
.button_toggle {
    flex: auto;
    font-weight: bold;
    padding: 1em;
}
.cta_text {
    color: white;
}
.chat_post {
    align-items: center;
    background-color:#ffbbbb;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1em;
}
.content {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.day {
    flex-grow: 4;
}
.day_fri {
    grid-column: 1 / 1 ;
    grid-row: 5 / 5;
}
.day_mon {
    grid-column: 1 / 1 ;
    grid-row: 1 / 1;
}
.day_sat {
    grid-column: 1 / 1 ;
    grid-row: 6 / 6;
}
.day_sun {
    grid-column: 1 / 1 ;
    grid-row: 7 / 7;
}
.day_thu {
    grid-column: 1 / 1 ;
    grid-row: 4 / 4;
}
.day_tue {
    grid-column: 1 / 1 ;
    grid-row: 2 / 2;
}
.day_wed {
    grid-column: 1 / 1 ;
    grid-row: 3 / 3;
}
.detail {
    background-color:#ff5555;
    flex-grow: 6;
    padding: 1em;
}
.detail_chat {
    background-color:#ff9999;
    display:flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}
.detail_form {
    align-items: center;
    background-color:#ff9999;
    display:flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}
.detail_head {
    align-items: flex-start;
    background-color:#ff7777;
    display:flex;
    flex: auto;
    flex-direction: row;
    font-size: larger;
    justify-items: center;
    padding: 1em;
}
.detail_head_title {
    flex: auto;
    padding: 1em;
}
.detail_schedule {
    align-items: center;
    background-color:#ff7777;
    display: grid;
    gap: 1em;
    grid-template-columns: 3fr repeat(16, 1fr);
    grid-template-rows: repeat(7, auto);
    justify-items: stretch;
    padding: 1em;
}
.disabled {
   color: grey;
}
.flex_space {
    flex-grow: 3;
}
.form_action {
    background-color:#ffbbbb;
    display:flex;
    flex: auto;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
}
.group {
    background-color:#7777ff;
    flex: auto;
    padding: 1em;
}
.group_head {
    align-items: center;
    background-color:#bbbbff;
    display:flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}
.group_head_sort {
    flex: auto;
    padding: 1em;
}
.hrs {
    align-items: center;
    background-color: #ffbbbb;
    border: 1px solid black;
    border-radius: 0.3em;
    display:flex;
    justify-content: center;
}
.icon {
    border: 1px solid black;
    flex: none;
    margin: 0.2em;
    padding: 0.2em;
}
.icon_bar {
    background-color:green;
    display:flex;
    flex-direction: row;
    gap:0.3em;
    justify-content: space-between;
    width: 100%;
}
.input_strength {
    width: 80%;
}
.invisible {
    visibility: hidden;
}
.item_block {
    align-items: flex-start;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3em;

}
.item_bold {
    font-weight: bold;
    padding: 0.3em;
}
.item_text {
    padding: 0.3em;
}
.list_bar {
    background-color:#5555ff;
    display:flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}
.list_button {
    align-items: center;
    background-color:#ddddff;
    border: 2px dashed black;
    display:flex;
    flex: auto;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
}
.space_icon {
    flex-grow: 3;
    padding: 1em;
}
.list_item {
    align-items: center;
    background-color:#ddddff;
    display:flex;
    flex: auto;
    flex-direction: row;
    gap:0.3em;
    justify-content: flex-start;
    padding: 1.0em;
}
.na {
   visibility: hidden;
}
.push_left {
  margin-right: auto;
}
.push_right {
  margin-left: auto;
}
.radio {
    align-items: center;
    background-color:#ffdddd;
    display:flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}
.radio_block {
    background-color:#ffeeee;
    display:flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 12em;
    padding: 1em;
}
.radio_button {
    border: 1px solid black;
    border-radius: 0.3em;
    margin: 0.1em;
    padding: 0.1em;
}
.radio_date {
    background-color:#ffdddd;
    padding: 0.3em;
    text-align: center;
}
.radio_pick {
    background-color: orange;
}
.radio_title {
    background-color:#ffdddd;
    padding: 0.3em;
    text-align: center;
}
.select_sort {
    height: 2em;
}
.selected {
    border: 0.2em solid orange;
}
.slide_text {
    background-color:#ffeeee;
    display:flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 1em;
}

/************** <html> *********************/

/************** <body> *********************/

body {
    display:flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    align-items: center;
}

/************** <header> *******************/

/************** <span> *********************/

/************** <h> ************************/

/************** <small> ********************/

/************** <p> ************************/

/************** <ul> ***********************/

/************** <li> ***********************/

/************** <table> ********************/

/************** <th> ***********************/

/************** <td> ***********************/

/************** <fieldset> *****************/

/************** <legend> *******************/

/************** <select> *******************/
    
/************** <option> *******************/

/************** <input> ********************/

/************** <button> *******************/
    
/************** <textarea> *****************/
    
/************** <hr> ***********************/

/************** <form> *********************/

/************** <sup sub> ******************/

/************** <code> *********************/

/************** <progress> *****************/

/************** # **************************/

/************** media **********************/

@media only screen and (max-width: 600px) {
    .hide0 {display: block;}
    .hide600 {display: none;}
    .hide768 {display: none;}
    .hide992 {display: none;}
    .hide1200 {display: none;}
    .wide0 {width: auto;}
    .wide600 {width: 100%;}
    .wide768 {width: 100%;}
    .wide992 {width: 100%;}
    .wide1200 {width: 100%;}
}

@media only screen and (min-width: 600px) {
    .hide0 {display: block;}
    .hide600 {display: block;}
    .hide768 {display: none;}
    .hide992 {display: none;}
    .hide1200 {display: none;}
    .wide0 {width: auto;}
    .wide600 {width: auto;}
    .wide768 {width: 100%;}
    .wide992 {width: 100%;}
    .wide1200 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    .hide0 {display: block;}
    .hide600 {display: block;}
    .hide768 {display: block;}
    .hide992 {display: none;}
    .hide1200 {display: none;}
    .wide0 {width: auto;}
    .wide600 {width: auto;}
    .wide768 {width: auto;}
    .wide992 {width: 100%;}
    .wide1200 {width: 100%;}
}

@media only screen and (min-width: 992px) {
    .hide0 {display: block;}
    .hide600 {display: block;}
    .hide768 {display: block;}
    .hide992 {display: block;}
    .hide1200 {display: none;}
    .wide0 {width: auto;}
    .wide600 {width: auto;}
    .wide768 {width: auto;}
    .wide992 {width: auto;}
    .wide1200 {width: 100%;}
}

@media only screen and (min-width: 1200px) {
    .hide0 {display: block;}
    .hide600 {display: block;}
    .hide768 {display: block;}
    .hide992 {display: block;}
    .hide1200 {display: block;}
    .wide0 {width: auto;}
    .wide600 {width: auto;}
    .wide768 {width: auto;}
    .wide992 {width: auto;}
    .widehide1200 {width: auto;}
}