<!-- qwikgame/templates/content.html -->
{% extends "qwik.html" %}


{% block list_bar %}
        <div id="list_bar" class="list_bar">
            <div id="cta_mobile" class="cta_mobile">
                {% block cta_mobile %}CTA_MOBILE{% endblock %}
            </div>
            <div id="list" class="list">            
                <div id="cta_desktop" class="cta_desktop"> 
                    {% block cta_desktop %}CTA_DESKTOP{% endblock %}
                </div>
                {% block list %}LIST{% endblock %}
            </div>
        </div>
{% endblock %}


{% block detail %}DETAIL{% endblock %}