<!-- qwikgame/templates/dropdown.html -->
{% if field.field.reveal %}
    <label class="{{ field.field.reveal_css_classes }} reveal">
        <input name="reveal_{{field.name}}" type="checkbox"  >
        {{ field.field.reveal }}
    </label>
{% endif %}

<div class="field">
{% include 'field_label.html' %}
{{ field.errors }}
    <div class="drop_down">
        <div class="btn drop" data-down="false">
            <div class="drop_up" data-action="{{ field.field.action }}">{{ language }}</div>
            <div class="fat">v</div>
        </div>
{{ field }}
    </div>
</div>