<!-- templates/person/email.html -->
{% load static %}{% load i18n %}
{% autoescape off %}


<div style="align-items: center; padding: 1em">
    <fieldset style="border: 1px solid #cccccc; margin: 1em 0 3em 0;max-width: 30em; padding: 2em; text-align: center; width: 100%;">
        <legend>
            <img style="display: block; width: 6em; padding: 0.1em" src="{{ protocol }}://{{ domain }}{% static 'img/qwik-logo.webp' %}">
        </legend>
        <div style="align-items: center; padding: 1em">
            <h3 style="align-items: center; color: black; font-size: 1.13em; justify-content: start; gap: 1em; margin: 3em 0 1em 0; text-align: center; ">
{% block title %}
                Welcome to Qwikgame
{% endblock title %}
            </h3>
{% block detail %}{% endblock detail %}
        </div>
    </fieldset>
</div>

{% endautoescape %}
