<!-- qwikgame/templates/field.html -->
{% if field.field.reveal %}
    <label class="{{ field.field.reveal_css_classes }} reveal">
        <input name="reveal_{{field.name}}" type="checkbox" {{ field.field.reveal_checked }}  >
        {{ field.field.reveal }}
    </label>
{% endif %}

{% if field.use_fieldset %}
    <fieldset>
    {% if field.label %}
        {{ field.legend_tag }}
    {% endif %}
{% else %}
    <div class="field">
    {% if field.label %}
        {% include 'field_label.html' %}
    {% endif %}
{% endif %}

{% if field.help_text %}
    {% if not field.label %}
        {{ field.help_text|safe }}
    {% endif %}
{% endif %}

{{ field.errors }}
{{ field }}

{% if field.use_fieldset %}
    </fieldset>
{% else %}
    </div>
{% endif %}