<!-- qwikgame/templates/field_label.html -->
<div class="label">
    {{ field.label_tag }}
{% if field.field.url %}
    <a href="{% url field.field.url %}">{{ field.field.sub_text }}</a>
{% elif field.field.sub_text %}
    <span class='sub_text'>{{ field.field.sub_text }}</span>
{% endif %}
{% if field.help_text %}
    <div class='info_text hidden'>{{ field.help_text|safe }}</div>
    <div class="btn secondary small round push_right info" data-visible="false">
        <i class="fa-solid fa-info fa-1x" aria-hidden="true"></i>
    </div>
{% endif %}
</div>