<!-- qwikgame/templates/field_label.html -->

{% if field.field.reveal %}
    <label class="{{ field.field.reveal_css_classes }} reveal">
        <input hidden type="checkbox"  >
        {{ field.field.reveal }}
    </label>
{% endif %}

<div class="label">
    {{ field.label_tag }}
{% if field.field.url %}
    <a href='{{ field.field.url }}'>{{ field.field.sub_text }}</a>
{% elif field.field.sub_text %}
    <span class='sub_text'>{{ field.field.sub_text }}</span>
{% endif %}
{% if field.help_text %}
    <div class="btn secondary small round push_right info" data-visible="false">
        <i class="fa-solid fa-info fa-1x" aria-hidden="true"></i>
    </div>
    <div class='help_text hidden'>{{ field.help_text|safe }}</div>
{% endif %}
</div>