<!-- qwikgame/templates/input_week.html -->
{% load static %}
<script defer src="{% static 'js/input_week.js' %}"></script>

<div class="by_week grid_2_col">
    <div class="btn tertiary show-next-parent-sibling">Select Days and Time</div>
    <label class="btn secondary wide toggle all_week">
        <input type="checkbox" name="all_week">
        <span class="stop-prop">Any Time</span>
    </label>
</div>
<div class="post hidden">
{% spaceless %}
{% for widget in widget.subwidgets %}
    {% include 'label_widget.html' %}
    {{ widget.errors }}
    {% include widget.template_name %}
{% endfor %}
{% endspaceless %}
</div>