<!-- qwikgame/templates/input_webpush.html -->
<div class="post field">
    <div class="label">
        {{ field.label }}
        <div class="btn secondary tiny round info {% if field.help_text|length == 0 %}invisible{% endif %}" data-visible="false">
            <i class="fa-solid fa-info fa-1x"></i>
            <div id="id_{{ field.name }}_info" class="info_text hidden">{{ field.help_text}}</div>
        </div>
        <label class="switch push_right" for="webpush-subscribe-button">
            <!-- The rendered webpush_button is hidden here, and linked by private.js updateNotifyPush() to the visible UI -->
            <div class="hidden">
                <button id="webpush-subscribe-button" data-url="/webpush/save_information"></button>
            </div>
            {{ field }}
            <div class="slider"></div>
        </label>
    </div>
    <div id="webpush-message" class="push_right" hidden=""></div>
</div>