<!-- qwikgame/templates/input_twoday.html -->
{% load static %}
{% load i18n %}

<!-- hidden checkbox to trigger js field_label_update() -->

<label class="two_day" hidden>
    <input type="checkbox" name="two_day" hidden>
</label>

<div class="post">
{% spaceless %}
{% for widget in widget.subwidgets %}
    {% include 'label_widget.html' %}
    {{ widget.errors }}
    {% include widget.template_name %}
{% endfor %}
{% endspaceless %}
</div>
<script defer src="{% static 'js/input_twoday.js' %}"></script>