<!-- qwikgame/templates/input_twoday.html -->
{% load static %}

<div class="two_day" hidden>
    <label for="two_day_hidden" hidden>
        <input type="checkbox" name="two_day" id="two_day_hidden" hidden>
        <!-- hidden checkbox to trigger js field_label_update() -->
    </label>
</div>

<div class="days">
{% spaceless %}
{% for widget in widget.subwidgets %}
    {% include 'label_widget.html' %}
    {{ widget.errors }}
    {% include widget.template_name %}
{% endfor %}
{% endspaceless %}
</div>
<script defer src="{% static 'js/input_twoday.js' %}"></script>