<!-- qwikgame/templates/qwikgame/map.html -->

<div id='map-elements' style='display:none;'>    
  <div id='map' class='center wide'></div>      
  <input id="map-search" class="controls" type="text" form="not-register-form" placeholder="Search by Location or by Game" />
  <template id="infowindow-mark">
    <div>
      <div class="map-mark-info-head">
        <span id="map-mark-info-name"></span>
        <a id="map-mark-info-link" href="">name</a>
      </div>
      <div class="map-mark-info-body">
        <span id="map-mark-info-stat">stat: </span>
        <span id="map-mark-info-val">val</span>
      </div>
    </div>
  </template>
  <template id='infowindow-poi'>
    <div class="pole">
      <div id='poi-id' style='display:none;'></div>
      <div class="map-mark-info-head">
        <div id='poi-name'>name</div>
      </div>
      <div class="map-mark-info-body">
        <a id='poi-link' href='' onclick="setPlace(event)">Create New Venue</a>
      </div>
    </div>
  </template>
</div>