<!-- qwikgame/templates/app_snippet.html -->
{% load static %}
{% load i18n %}


<h2>
    {% translate "BETTER THAN NATIVE MOBILE APPS. THIS IS PROGRESSIVE WEB APP." %}
</h2>
<p>
    {% translate "Install QWIKGAME app in seconds." %}
<div class="list">
    <ul class="fa-ul">
        <li><span class="fa-li"><i class="fa-solid fa-check fa-1x"></i></i></span>
            {% translate "No download process. No payment. Remove anytime" %}
        </li>
        <li><span class="fa-li"><i class="fa-solid fa-check fa-1x"></i></i></span>
            {% translate "No app store needed" %}
        </li>
        <li><span class="fa-li"><i class="fa-solid fa-check fa-1x"></i></i></span>
            {% translate "Accessible from any device with a web browser" %}
        </li>
        <li><span class="fa-li"><i class="fa-solid fa-check fa-1x"></i></i></span>
            {% translate "Requires minimal storage" %}
        </li>
        <li><span class="fa-li"><i class="fa-solid fa-check fa-1x"></i></i></span>
            {% translate "Better performance in regions with limited internet connection" %}
        </li>
        <li><span class="fa-li"><i class="fa-solid fa-check fa-1x"></i></i></span>
            {% translate "Compatible with all platforms: iOS, Android, Windows phone, Linux, etc" %}
        </li>
    </ul>
</div>
<button id="install_pwa" class="CTA_button_Orange">
    <span class="pwa_install pwa_ff pwa_brave">
        {% translate "Install QWIKGAME " %}
        <i class="fa-solid fa-download"></i>
    </span>
    <span class="pwa_installed" hidden>
        {% translate "QWIKGAME is installed. Open the app " %}
        <i class="fa-solid fa-up-right-from-square"></i>
    </span>
    <span class="pwa_active" hidden>
        {% translate "QWIKGAME is installed and in-use." %}
    </span>
    <span class="pwa_unsupported" hidden>
        {% translate "Unfortunately this browser does not support PWA's. " %}
        <i class="fa-regular fa-face-frown"></i> 
    </span>
    <span class="pwa_err" hidden>
        {% translate "Something went wrong!" %}
        <i class="fa-regular fa-face-frown"></i> 
        {% translate "Please, try again." %}
    </span>
</button>
<div class="pwa-info">
    <p class="pwa_brave" hidden>
        {% translate "PWA requires" %}
        <a href="brave://settings/?search=push" target="_blank">
            {% translate "Google services for push messaging" %}
        </a> 
        {% translate "on Brave" %}
     </p>
    <p class="pwa_ff" hidden>
        {% translate "PWA requires" %}
        <a href="https://addons.mozilla.org/en-US/firefox/addon/pwas-for-firefox/" target="_blank">
            {% translate "extension" %}
        </a> 
        {% translate "on Firefox" %}
    </p>
    <p class="pwa_unsupported" hidden>
        {% translate "You may try Chrome, Edge, Firefox with PWA add-on, Safari and more." %}
    </p>
</div>
<label for="pwa_ios" class="CTA_button_Orange toggle-trigger" hidden>
    {% translate "Install QWIKGAME" %}
    <i class="fa-solid fa-angles-down"></i>
</label>
<input id="pwa_ios" type="checkbox" class="toggle-input">
<div id="pwa_ios_aid" class="toggle-content">
    <h6>{% translate "Install QWIKGAME:" %}</h6>
    <ol> 
        <li>{% translate "Open Safari" %}</li>
        <li>{% translate "Tap the Share button (box with an arrow)" %}</li>
        <li class="pwa_ios_home">{% translate "Select Add to Home Screen" %}</li>
        <li class="pwa_ios_dock" hidden>{% translate "Select Add to Dock" %}</li>
        <li>{% translate "Tap Add" %}
    </ol>
    <h6>{% translate "Enable QWIKGAME push notifications:" %}</h6>
    <ol>
        <li>{% translate "Go to Settings" %}</li>
        <li>{% translate "Open Notifications" %}</li>
        <li>{% translate "Select qwikgame" %}</li>
        <li>{% translate "Turn on Allow Notifications" %}</li>
    </ol>
</div>
