{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/qwik.css' %}">
{% endblock css %}
    {% if small_screen %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/small_screen.css' %}">
    {% endif %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

{% block script %}
    <script defer src="{% static 'qwik.js' %}"></script>
{% endblock %}

    <title>{% block title %}QwikGame{% endblock %}</title>
</head>

<body>
    <div id="alert_body_start" class="alert"></div>
    {% block icon_bar %}
    <div id="icon_bar" class="icon_bar">
        <div id="alert_icon_start" class="alert"></div>
        <a href="{% url 'welcome' %}">
            <img class="logo href" src="{% static 'img/qwik-logo.jpg' %}" >
        </a>
        <div class="flex_space"></div>
        <a class="btn special2 {{ appeals_tab }}" href="{% url 'appeal' %}">
            <i class="fa-solid fa-house fa-2x"></i>
            <span class="fat">Invitations</span>
            <div {{ appeal_alert }} class="dot"></div>
        </a>
        <a class="btn special2 {{ match_tab }}" href="{% url 'matches' %}">
            <i class="fa-solid fa-calendar-days fa-2x"></i>
            <span class="fat">Matches</span>
            <div {{ match_alert }} class="dot"></div>
        </a>
        <a class="btn special2 {{ review_tab }}" href="{% url 'review' %}">
            <i class="fa-solid fa-thumbs-up fa-2x"></i>
            <span class="fat">Reviews</span>
            <div {{ review_alert }} class="dot"></div>
        </a>
        <a class="btn special2 {{ friend_tab }}" href="{% url 'friend' %}">
            <i class="fa-solid fa-user-group fa-2x"></i>
            <span class="fat">Friends</span>
            <div {{ friend_alert }} class="dot"></div>
        </a>
        <div class="flex_space hide768"></div>
        <a class="btn special2 {{ account_tab }}" href="{% url 'account' %}">
            <i class="fa-solid {{ person_icon }} fa-2x"></i>
            <span class="fat">{% block name %}{{ person_name }}{% endblock %}</span>
            <div {{ account_alert }} class="dot"></div>
        </a>
        <div id="alert_icon_end" class="alert"></div>
    </div>
    <div id="icon_bar_reserve" class="icon_bar_reserve"></div>
    {% endblock icon_bar %}
    {% block content %}
    <div id="content" class="content">
        <div id="alert_content_start" class="alert"></div>
        {% block list_bar %}LIST_BAR{% endblock list_bar %}
        {% block detail %}DETAIL{% endblock detail %}
        <div id="alert_content_end" class="alert"></div>
    </div>
    {% endblock content %}
    <div id="alert_body_end" class="alert"></div>
</body>
</html>