{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'qwik.css' %}">
{% endblock css %}
    {% if small_screen %}
    <link rel="stylesheet" type="text/css" href="{% static 'small_screen.css' %}">
    {% endif %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

{% block script %}
    <script src="https://kit.fontawesome.com/ddb61c7fcf.js" crossorigin="anonymous"></script>
    <script defer src="{% static 'qwik.js' %}"></script>
{% endblock %}

    <title>{% block title %}QwikGame{% endblock %}</title>
</head>

<body>
    <div id="icon_bar" class="icon_bar">
        <img class="logo href" src="{% static 'qwik_icon.svg' %}" data-href="{% url 'home' %}">
        <div class="flex_space"></div>
        <div class="button href" data-href="{% url 'feed' %}">
            <i class="fa-solid fa-house fa-2x"></i>
            <p class="fat">Invitations</p>
        </div>
        <div class="button href" data-href="{% url 'match' %}">
            <i class="fa-regular fa-calendar-days fa-2x"></i>
            <p class="fat">Scheduled Matches</p>
        </div>
        <div class="button href" data-href="{% url 'rival' %}">
            <i class="fa-solid fa-thumbs-up fa-2x"></i>
            <p class="fat">Rival Rating</p>
        </div>
        <div class="button href">
            <i class="fa-solid fa-user-group fa-2x"></i>
            <p class="fat">Friends</p>
        </div>
        <div class="flex_space hide768"></div>
        <div class="button href" data-href="{% url 'account' %}">
            <i class="fa-solid fa-graduation-cap fa-2x"></i>
            <p class="fat">{% block name %}{{ person_name }}{% endblock %}</p>
        </div>     
    </div>
    <div id="icon_bar_reserve" class="icon_bar_reserve"></div>
    <hr>
    <div id="content" class="content">
        {% block list_bar %}LIST_BAR{% endblock %}
        {% block detail %}DETAIL{% endblock %}
    </div>
</body>
</html>