<!-- qwikgame/templates/welcome.html -->
{% extends "qwik.html" %}
{% load static %}


{% block tab_bar %}
{% if user.is_authenticated %}
    {{ block.super }}
{% else %}
    <div class="pillar">
        <div class="qwikgame">
            <span class="fat"><span class="qwik">QWIK</span>GAME</span>
        </div>
    </div>
{% endif %}
{% endblock tab_bar %}


{% block list_bar %}{% endblock list_bar %}


{% block content %}
    <div class="pillar">
        <h2>Welcome to qwikgame</h2>
        <p class="fat">
            <img class="logo href" src="{% static 'img/qwik-logo.jpg' %}" data-href="{% url 'welcome' %}">
        </p>
        <h2>What is your favourite game?</h2>
    {% if user.is_authenticated %}
        <div class="pillar push_down">
            <label  id="install_app" class="btn secondary">
                <input name="install_app" type="checkbox">
                Get the App
            </label>
            <div id="ios_install_app" class="piller push_down hidden">
                <p>To install this app on your iPhone or iPad:</p>
                <ol>
                    <li>Tap the <strong>Share</strong> button in Safari.</li>
                    <li>Scroll down and select <strong>Add to Home Screen</strong>.</li>
                    <li>Follow the on-screen instructions.</li>
                </ol>
            </div>
            <div id="firefox_install_app" class="piller push_down hidden">
                <p>Firefox is <a href='https://connect.mozilla.org/t5/discussions/how-can-firefox-create-the-best-support-for-web-apps-on-the/m-p/60561/highlight/true#M21220' target=_blank>working</a> to support Progressive Web Apps.</p>
                <p>You could try a Chrome browser in the meantime!</p>
            </div>
        </div>
        <div class="paver push_down">
            <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
                <label class="btn tertiary">
                    <input hidden name="logout" type="submit">
                    logout
                </label>
            </form>
        </div>
    {% else %}
        <div class="grid_2_col">
            <a class="btn secondary" href="{% url 'login' %}">
                login
            </a>
            <a class="btn primary" href="{% url 'register' %}">
                signup
            </a>
        </div>
    {% endif %}
</div>
{% endblock content %}