<!-- qwikgame/feedback/templates/feedback/feedback_list.html -->
{% extends "content.html" %}


{% block title %}Feedback{% endblock %}


{% block cta_mobile %}{% endblock %}
{% block cta_desktop %}{% endblock %}


{% block list %}
        <div id="alert_list_start" class="alert"></div>
        <div class="list_head">
            <div id="alert_list_head" class="alert"></div>
            <h1>Feedback</h1>
        </div>
        <div class="post group">
{% for fb in feedbacks %}
            <a class="btn secondary item {{ fb.seen }}" href="{% url 'feedback' fb.pk %}">
    {% if fb.pk == feedback.pk %}
                <input type="checkbox" name="selected" checked='checked' hidden>
    {% endif %}
                <div class='lines'>
                    <p class="line">{{ fb.date }}</p>
                </div>
            </a>
{% empty %}
            <p>No feedback!</p>
{% endfor %}
        </div>
        <div id="alert_list_end" class="alert"></div>
{% endblock %}


{% block detail %}
{% if big_screen %}
    <div id="detail" class="detail">
        <div id="alert_detail_start" class="alert"></div>
        <div class="pillar push_down">
            <div class="push_down">
                Select Feedback to see detail.
            </div>
        </div>
        <div id="alert_detail_end" class="alert"></div>
    </div>
{% endif %}
{% endblock detail %}