[Unit]
Description=Gunicorn daemon for Django Project
Before=nginx.service
After=network.target

[Service]
WorkingDirectory=/home/django/qwikgame
ExecStart=/usr/bin/gunicorn3 --name=django_qwikgame --pythonpath=/home/django/qwikgame --bind unix:/home/django/gunicorn.socket --config /etc/gunicorn.d/gunicorn.py qwikgame.wsgi:application
Restart=always
SyslogIdentifier=gunicorn
User=django
Group=django
Environment="DJANGO_SECRET_KEY=DJANGO_SECRET_KEY"
Environment="DATABASE_ENGINE=django.db.backends.XXX"
Environment="DATABASE_NAME=qwikgame"
Environment="DATABASE_USER=DATABASE_USER"
Environment="DATABASE_PASSWORD=DATABASE_PASSWORD"
Environment="DATABASE_HOST=DATABASE_HOST"
Environment="DATABASE_PORT=DATABASE_PORT"

[Install]
WantedBy=multi-user.target