<!-- qwikgame/game/templates/game/add_venue.html -->
{% extends "content.html" %}


{% block title %}Add Venue{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
    <div id="detail" class="detail">
        <div id="add_game_id" class="post">
            <div class="detail_head">
                <div class="post head_txt">
                    <h1>{{ game_name }}</h1>
                </div>
            </div>
            <div class="post detail_body">            	
                <div class="post form">
                    <form action="{% url 'available_add' game=game %}" method="post">
{% csrf_token %}
{{ available_form }}
                        <input class="button cta push_down wide schedule_save" type="submit" value="SAVE">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock detail %}