<!-- qwikgame/player/templates/player/game.html -->
{% extends "content.html" %}


{% block title %}Game{% endblock %}


{% block cta_mobile %}
{% if small_screen %}
    <a class="cta round lge cta_mobile" href="{% url 'active' %}">
    <i class="fa-solid fa-volleyball fa-3x"></i>
    </a>
{% endif %}
{% endblock %}


{% block cta_desktop %}
{% if big_screen %}
    <a class="cta wide" href="{% url 'active' %}">
        <i class="fa-solid fa-volleyball fa-2x"></i>
        <p>ADD GAME</p>
    </a>
{% endif %}
{% endblock %}


{% block list %}
    <div id="list_bar" class="list_bar post">
        <div class="list_bar_head">
            <h1>My Games</h1> 
            <div class="drop_down">
                <div class="button drop" data-down="false">
                    <div>Group by</div>
                    <div class="fat" aria-hidden="true">v</div>
                </div>
                <div class="down hidden">
                    <label class="toggle option">
                        <input type="radio" name="groupby" checked="checked">
                        game
                    </label>
                    <label class="toggle option">
                        <input type="radio" name="groupby">
                        skill
                    </label>
                    <label class="toggle option">
                        <input type="radio" name="groupby">
                        venue
                    </label>
                </div>
            </div>
        </div>
        <hr>

{% regroup available by game as game_list %}
{% for game in game_list %}
        <h2 class="show_group">
            {{ game.grouper }}
            <span>▲</span>
        </h2>
        <div class="group">
{% for avail in game.list %}
            <a class="" href="{% url 'available' game=avail.game venue=avail.venue %}">
                <div class="icon">
                    <i class="fa-solid fa-location-dot fa-xl" aria-hidden="true"></i>
                </div>
                {{ avail.venue }}
                <div class="icon push_right">
                    <i class="fa-solid fa-check fa-xl" aria-hidden="true"></i>
                </div>
            </a>
{% endfor %}
            <a class="add" href="{% url 'available_add' game=game.grouper %}">
                <i class="fa-solid fa-circle-plus fa-xl" aria-hidden="true"></i>
                Add Venue
            </a>
        </div>
{% endfor %}
    </div>
{% endblock %}


{% block detail %}{% endblock %}