<!-- qwikgame/match/templates/match/match.html -->
{% extends "game/matches.html" %}


{% block title %}Match{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
        <div id="detail" class="detail">
            <div class="detail_head">
                <div class="icon round badge">{{ match.venue_hour_str }}h</div>
                <div class="pole notes">
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-face-sad-tear fa-1x"></i>
                        </span>
                        <p class="line">{{ match.game.name }}</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-calendar fa-1x"></i>
                        </span>
                        <p>{{ match.venue_date_str }}, {{ match.venue_hour_str }}h</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-location-dot fa-1x"></i>
                        </span>
                        <p>{{ match.venue }}</p>
                    </div>
                </div>
                <div class="drop_down icon head_more">
                    <div class="button drop" data-down="false">
                        <i class="fa-solid fa-ellipsis-vertical fa-2x todo"></i>
                    </div>
                    <div class="down hidden">
                        <div class="button thin">more 1</div>
                        <div class="button thin">more 2</div>
                        <div class="button thin">more 3</div>
                    </div>
                </div>
                <a class="button naked head_back" href="/game/match/{{ prev }}/">
                    <i class="fa-solid fa-chevron-left fa-2x"></i>
                </a>
                <a class="button naked head_fwd" href="/game/match/{{ next }}/">
                    <i class="fa-solid fa-chevron-right fa-2x"></i>
                </a>
            </div>
            <div class="post hidden todo">
                <div class="chat_item align_start">
                    <div class="button">
                        <i class="fa-solid fa-hat-cowboy fa-2x"></i>
                    </div>
                    <div class="chat_bubble">
                        <p>Pesho sent invitation</p>
                    </div>
                </div>
                <div class="chat_item align_start">
                    <div class="button">
                        <i class="fa-solid fa-hat-cowboy fa-2x"></i>
                    </div>
                    <div class="chat_bubble">
                        <p class="bold">Pesho</p>
                        <p>Squash at Vasil Levski, Aug 5, 13-21h</p>
                    </div>
                </div>
                <div class="chat_item align_start">
                    <div class="button">
                        <i class="fa-brands fa-redhat fa-2x"></i>
                    </div>
                    <div class="chat_bubble">
                        <p class="bold">Venue Manager</p>
                        <p>Removed 15h from available hours</p>
                    </div>
                </div>
                <div class="chat_item align_end">
                    <div class="chat_bubble">
                        <p class="bold">Helen</p>
                        <p>Accepted 14h</p>
                    </div>
                    <div class="button">
                        <i class="fa-solid fa-graduation-cap fa-2x"></i>
                    </div>
                </div>
                <div class="chat_item align_start">
                    <div class="button">
                        <i class="fa-solid fa-hat-cowboy fa-2x"></i>
                    </div>
                    <div class="chat_bubble">
                        <p class="bold">Pesho</p>
                        <p>Accepted 14h</p>
                    </div>
                </div>
                <div class="chat_item align_start">
                    <div class="button">
                        <i class="fa-brands fa-redhat fa-2x"></i>
                    </div>
                    <div class="chat_bubble">
                        <p class="bold">Venue Manager</p>
                        <p>Booked 14h</p>
                    </div>
                </div>
            </div>
            <div class="button link toggle_previous_sibling align_center todo">
                <span class="tog">Show invitation history</span>
                <span class="tog hidden">Hide invitation history</span>
            </div>
            <div class="banner pillar todo">
                <p>Match is scheduled!</p>
                <p>Squash, Vasil Levski, Aug 5, 14h, Pesho</p>
            </div>
            <div class="icon align_center">
                <i class="fa-solid fa-hat-cowboy fa-3x todo"></i>
            </div>
            <div class="post todo">
                <div class="chat_item align_start">
                    <div class="button">
                        <i class="fa-solid fa-hat-cowboy fa-2x"></i>
                    </div>
                    <div class="chat_bubble">
                        <p class="bold">Pesho</p>
                        <p>Hey - looking forward to having our first match!</p>
                    </div>
                </div>
                <div class="chat_item align_end">
                    <div class="chat_bubble">
                        <p class="bold">Helen</p>
                        <p>Yes - me too</p>
                    </div>
                    <div class="button">
                        <i class="fa-solid fa-graduation-cap fa-2x"></i>
                    </div>
                </div>
                <div class="chat_item align_end">
                    <div class="chat_bubble">
                        <p class="bold">Helen</p>
                        <p>But I am really just testing qwikgame</p>
                    </div>
                    <div class="button">
                        <i class="fa-solid fa-graduation-cap fa-2x"></i>
                    </div>
                </div>
                <div class="chat_item align_start">
                    <div class="button">
                        <i class="fa-solid fa-hat-cowboy fa-2x"></i>
                    </div>
                    <div class="chat_bubble">
                        <p class="bold">Pesho</p>
                        <p>qwikgame is cool - I have been using it for years</p>
                    </div>
                </div>
                <div class="chat_item align_end">
                    <div class="chat_bubble">
                        <p class="bold">Helen</p>
                        <p>Well the UI is pretty tidy :-)</p>
                    </div>
                    <div class="button">
                        <i class="fa-solid fa-graduation-cap fa-2x"></i>
                    </div>
                </div>
                <div class="chat_item align_start">
                    <div class="button">
                        <i class="fa-solid fa-hat-cowboy fa-2x"></i>
                    </div>
                    <div class="chat_bubble">
                        <p class="bold">Pesho</p>
                        <p>see you tomorrow - I will be wearing the qwikgame cap</p>
                    </div>
                </div>
            </div>
            <div class="chat_input todo">
                <div class="button">
                    <i class="fa-regular fa-face-smile fa-xl"></i>
                </div>
                <input type="text" name="chat" placeholder="Chat here with your rival">
                <div class="button">
                    <i class="fa-solid fa-paper-plane fa-xl"></i>
                </div>
            </div>
        </div>
{% endblock %}