<!-- qwikgame/player/templates/player/matches.html -->
{% extends "content.html" %}


{% block title %}Match{% endblock %}


{% block cta_mobile %}
{% if small_screen %}
    <a class="btn special1 mobile" href="">
    <i class="fa-regular fa-comments fa-3x"></i>
    </a>
{% endif %}
{% endblock %}


{% block cta_desktop %}
{% if big_screen %}
    <a class="btn special1" href="">
        <i class="fa-regular fa-comments fa-xl"></i>
        <p>Chat</p>
    </a>
{% endif %}
{% endblock %}


{% block list %}
    <div id="list_bar" class="list_bar post">
        <div class="list_bar_head">
            <h1>Matches</h1> 
            <div class="drop_down todo">
                <div class="btn drop" data-down="false">
                    <div>Group by</div>
                    <div class="fat" aria-hidden="true">v</div>
                </div>
                <div class="down hidden">
                    <label class="toggle option">
                        <input type="radio" name="groupby">
                        date
                    </label>
                    <label class="toggle option">
                        <input type="radio" name="groupby">
                        game
                    </label>
                    <label class="toggle option">
                        <input type="radio" name="groupby">
                        venue
                    </label>
                </div>
            </div>
        </div>
        <h2 class="show_group">
            Upcomming
            <span>▲</span>
        </h2>
        <div class="post group">
{% for mat in matches_future %}
            <a class="btn secondary item {{ mat.seen }}" href="{% url target match=mat.pk %}">
{% if mat.pk == match.pk %}
                <input type="checkbox" name="selected" checked='checked' hidden>
{% endif %}
                <div class="pole notes">
                    <div class="note">
                        <span class="icon">
                            <i class="{{ mat.game.icon }} fa-1x"></i>
                        </span>
                        <p class="line">{{ mat.game }}</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-calendar fa-1x"></i>
                        </span>
                        <p>{{ mat.venue_date_str }}</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-location-dot fa-1x"></i>
                        </span>
                        <p>{{ mat.venue}}</p>
                    </div>
                </div>
                <div class="pole badges">
                    <div class="icon round badge">{{ mat.venue_hour_str }}h</div>
                </div>
            </a>
{% empty %}
           <p>No pending Matches</p>
{% endfor %}
        </div>
        <h2 class="show_group">
            History
            <span>▲</span>
        </h2>
        <div class="post group">
{% for mat in matches_past %}
            <a class="btn secondary item {{ mat.seen }}" href="{% url target match=mat.pk %}">
{% if mat.pk == match.pk %}
                <input type="checkbox" name="selected" checked='checked' hidden>
{% endif %}
                <div class="pole notes">
                    <div class="note">
                        <span class="icon">
                            <i class="{{ mat.game.icon }} fa-1x"></i>
                        </span>
                        <p class="line">{{ mat.game }}</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-calendar fa-1x"></i>
                        </span>
                        <p>{{ mat.venue_date_str }} {{ mat.venue_hour_str }}h</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-location-dot fa-1x"></i>
                        </span>
                        <p>{{ mat.venue}}</p>
                    </div>
                </div>
            </a>
{% empty %}
            <p>No history yet!</p>
{% endfor %}
        </div>
    </div>
{% endblock %}


{% block detail %}
{% if big_screen %}
    <div id="detail" class="detail">
        <div class="pillar push_down">
            <div class="push_down">
                No pending Matches<br>Keen to play?
            </div>
            <a class="btn special1 push_down" href="{% url 'keen' %}">
                <i class="fa-solid fa-paper-plane fa-xl"></i>
                Invite
            </a>
        <div>
    </div>
{% endif %}
{% endblock detail %}