<!-- qwikgame/player/templates/player/matches.html -->
{% extends "content.html" %}


{% block title %}Match{% endblock %}


{% block cta_mobile %}{% endblock %}


{% block cta_desktop %}{% endblock %}


{% block list %}
    <div id="list_bar" class="list_bar post">
        <div class="list_bar_head">
            <h1>Matches</h1> 
            <div class="drop_down todo">
                <div class="btn drop" data-down="false">
                    <div>Group by</div>
                    <div class="fat" aria-hidden="true">v</div>
                </div>
                <div class="down hidden">
                    <label class="toggle option">
                        <input type="radio" name="groupby">
                        date
                    </label>
                    <label class="toggle option">
                        <input type="radio" name="groupby">
                        game
                    </label>
                    <label class="toggle option">
                        <input type="radio" name="groupby">
                        venue
                    </label>
                </div>
            </div>
        </div>
        <h2 class="show_group">
            Upcomming
            <span>▲</span>
        </h2>
        <div class="post group">
{% for match in matches_future %}
            <a class="btn secondary item" href="{% url target match=match.pk %}">
                <div class="pole notes">
                    <div class="note">
                        <span class="icon">
                            <i class="{{ match.game.icon }} fa-1x"></i>
                        </span>
                        <p class="line">{{ match.game }}</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-calendar fa-1x"></i>
                        </span>
                        <p>{{ match.venue_date_str }}</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-location-dot fa-1x"></i>
                        </span>
                        <p>{{ match.venue}}</p>
                    </div>
                </div>
                <div class="pole badges">
                    <div class="icon round badge">{{ match.venue_hour_str }}h</div>
                </div>
            </a>
{% empty %}
           <p>No pending Matches</p>
{% endfor %}
        </div>
        <h2 class="show_group">
            History
            <span>▲</span>
        </h2>
        <div class="post group">
{% for match in matches_past %}
            <a class="btn secondary item" href="{% url target match=match.pk %}">
                <div class="pole notes">
                    <div class="note">
                        <span class="icon">
                            <i class="{{ match.game.icon }} fa-1x"></i>
                        </span>
                        <p class="line">{{ match.game }}</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-calendar fa-1x"></i>
                        </span>
                        <p>{{ match.venue_date_str }} {{ match.venue_hour_str }}h</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-location-dot fa-1x"></i>
                        </span>
                        <p>{{ match.venue}}</p>
                    </div>
                </div>
            </a>
{% empty %}
            <p>No history yet!</p>
{% endfor %}
        </div>
    </div>
{% endblock %}


{% block detail %}{% endblock %}