<!-- qwikgame/match/templates/match/match.html -->
{% extends "game/matches.html" %}


{% block title %}Match{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
        <div id="detail" class="detail">
            <div class="detail_head">
                <div class="icon round badge">{{ match.venue_hour_str }}h</div>
                <div class="pole notes">
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-face-sad-tear fa-1x"></i>
                        </span>
                        <p class="line">{{ match.game.name }}</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-calendar fa-1x"></i>
                        </span>
                        <p>{{ match.venue_date_str }}, {{ match.venue_hour_str }}h</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-location-dot fa-1x"></i>
                        </span>
                        <p>{{ match.venue }}</p>
                    </div>
                </div>
                <div class="drop_down icon head_more">
                    <div class="button drop todo" data-down="false">
                        <i class="fa-solid fa-ellipsis-vertical fa-2x"></i>
                    </div>
                    <div class="down hidden">
                        <div class="button thin">more 1</div>
                        <div class="button thin">more 2</div>
                        <div class="button thin">more 3</div>
                    </div>
                </div>
                <a class="button naked head_back" href="{% url 'match' match=prev %}">
                    <i class="fa-solid fa-chevron-left fa-2x"></i>
                </a>
                <a class="button naked head_fwd" href="{% url 'match' match=next %}">
                    <i class="fa-solid fa-chevron-right fa-2x"></i>
                </a>
            </div>
{% if enable_banner %}
            <div class="banner live pillar">
                <p>Match is scheduled!</p>
{% else %}
            <div class="banner pillar">
                <p>Match is complete.</p>
{% endif %}
                <p>{{ match.game }}, {{ match.venue }}, {{ match.venue_date_str }}, {{ match.venue_hour_str }}, <span class="todo">Pesho</span></p>
            </div>
            <div class="icon align_center todo">
                <i class="fa-solid fa-hat-cowboy fa-3x"></i>
            </div>
            <div class="post group hidden">
{% for entry in match.log %}
    {% if forloop.counter < match_log_start %}
        {% if entry.id == player_id %}
                <div class="log_entry align_end {{ entry.klass }}">
        {% else %}
                <div class="log_entry align_start {{ entry.klass }}">
        {% endif %}
                    <div class="button icon todo">
                        <i class="fa-solid fa-hat-cowboy fa-2x"></i>
                    </div>
                    <div class="chat_bubble">
                        <p class='bold'>{{ entry.name }}</p>
                        <p>{{ entry.text }}</p>
                    </div>
                </div>
    {% endif %}
{% endfor %}
                <div class="chat_item align_start">
                    <div class="button">
                        <i class="fa-brands fa-redhat fa-2x todo"></i>
                    </div>
                    <div class="chat_bubble todo">
                        <p class="bold">Venue Manager</p>
                        <p>Removed 15h from available hours</p>
                    </div>
                </div>
                <div class="chat_item align_start">
                    <div class="button">
                        <i class="fa-brands fa-redhat fa-2x todo"></i>
                    </div>
                    <div class="chat_bubble todo">
                        <p class="bold">Venue Manager</p>
                        <p>Booked 14h</p>
                    </div>
                </div>
            </div>
            <div class="button link toggle_previous_sibling align_center">
                <span class="tog">Show invitation history</span>
                <span class="tog hidden">Hide invitation history</span>
            </div>  
            <div class="post">
{% for entry in match.log %}
    {% if forloop.counter > match_log_start %}
        {% if entry.id == player_id %}
                <div class="log_entry align_end {{ entry.klass }}">
        {% else %}
                <div class="log_entry align_start {{ entry.klass }}">
        {% endif %}
                    <div class="button icon todo">
                        <i class="fa-solid fa-hat-cowboy fa-2x"></i>
                    </div>
                    <div class="chat_bubble">
                        <p class='bold'>{{ entry.name }}</p>
                        <p>{{ entry.text }}</p>
                    </div>
                </div>
    {% endif %}
{% endfor %}

            </div>
            <form action="{% url 'match' match=match.pk %}" method="post">
{% csrf_token %}
                <div class="chat_input">
                    <div class="button">
                        <i class="fa-regular fa-face-smile fa-xl"></i>
                    </div>
                    {{ match_form }}
                    <label class="round sml">
                        <input hidden type="submit" name='match'>
                        <i class="fa-solid fa-paper-plane fa-xl"></i>
                    </label>
                </div>
            </form>
        </div>
{% endblock %}