<!-- qwikgame/match/templates/game/review.html -->
{% extends "game/reviews.html" %}


{% block title %}Review{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
        <div id="detail" class="detail">
            <div class="detail_head">
                <div class="icon round badge">{{ review.match.venue_hour_str }}h</div>
                <div class="pole notes">
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-face-sad-tear fa-1x"></i>
                        </span>
                        <p class="line">{{ review.match.game.name }}</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-calendar fa-1x"></i>
                        </span>
                        <p>{{ review.match.venue_date_str }}, {{ review.match.venue_hour_str }}h</p>
                    </div>
                    <div class="note">
                        <span class="icon">
                            <i class="fa-solid fa-location-dot fa-1x"></i>
                        </span>
                        <p>{{ mreview.atch.venue }}</p>
                    </div>
                </div>
                <div class="drop_down icon head_more todo">
                    <div class="btn drop" data-down="false">
                        <i class="fa-solid fa-ellipsis-vertical fa-2x"></i>
                    </div>
                    <div class="down hidden">
                        <div class="btn tertiary menu">more 1</div>
                        <div class="btn tertiary menu">more 2</div>
                        <div class="btn tertiary menu">more 3</div>
                    </div>
                </div>
                <a class="btn special2 head_back" href="{% url target review=prev %}">
                    <i class="fa-solid fa-chevron-left fa-2x"></i>
                </a>
                <a class="btn special2 head_fwd" href="{% url target review=next %}">
                    <i class="fa-solid fa-chevron-right fa-2x"></i>
                </a>
            </div>
            <div class="post">
            <h1>Review Match</h1>
                <div class="post form">
                    <span class="icon">
                        <i class="fa-solid {{ review.rival.icon }} fa-3x"></i>
                    </span>
                    <h1>{{ review.rival.name }}</h1>
                    <form action="{% url target review=review.id %}" method="post">
    {% csrf_token %}
    {{ review_form }}
                        <div class="pillar">
                            <label class="btn primary push_down">
                                <input hidden type="submit">
                                Submit
                            </label>
                        </div>
                    </form>
                </div>
            </div>
{% endblock %}