<!-- qwikgame/match/templates/game/review.html -->
{% extends "game/reviews.html" %}

{% block refresh %}{% endblock refresh %}

{% block title %}Reviews{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
        <div id="detail" class="detail">
            <div class="detail_head">
                <div class="icon">
                    <div class="identicon" data-hash="{{ review.rival.email_hash }}"></div>
                </div>
                <div class='head'>
                    <p class="line">
                        <span class="icon">
                            <i class="fa-solid {{ review.match.game.icon }} fa-1x"></i>
                        </span>
                        {{ review.match.game }}
                    </p>
                    <p class="line">
                        <span class="icon">
                            <i class="fa-solid fa-calendar fa-1x"></i>
                        </span>
                        {{ review.match.datetime_str }}
                    </p>
                    <p class="line">
                        <span class="icon">
                            <i class="fa-solid fa-location-dot fa-1x"></i>
                        </span>
                        <a href="https://www.google.com/maps/search/?api=1&query=Google&query_place_id={{ review.match.venue.placeid }}" target="_blank">{{ review.match.venue.place_str }}</a>
                    </p>
                </div>
                <div class="context_menu">
                    <div class="drop_down head_more todo">
                        <div class="btn special2 drop" data-down="false">
                            <i class="fa-solid fa-ellipsis-vertical fa-2x"></i>
                        </div>
                        <div class="down right hidden">
                            <div class="btn tertiary menu">more 1</div>
                            <div class="btn tertiary menu">more 2</div>
                            <div class="btn tertiary menu">more 3</div>
                        </div>
                    </div>
                    <a class="btn special2 head_back" href="{% url target review=prev %}">
                        <i class="fa-solid fa-chevron-left fa-2x"></i>
                    </a>
                    <a class="btn special2 head_fwd" href="{% url target review=next %}">
                        <i class="fa-solid fa-chevron-right fa-2x"></i>
                    </a>
                </div>
            </div>
            <div class="post">
                <div class="pillar">
                    <div class="icon">
                        <div class="identicon" data-hash="{{ review.rival.email_hash }}"></div>
                    </div>
                    <p>{{ review.rival.qwikname }}</p>
                </div>
                <div class="post form">
                    <form action="{% url target review=review.id %}" method="post">
    {% csrf_token %}
    {{ review_form }}
                        <div class="pillar">
                            <label class="btn primary push_down">
                                <input hidden type="submit">
                                Submit
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}