<!-- qwikgame/venue/templates/venue/venue.html -->
{% extends "venue/venues.html" %}


{% block title %}Venues{% endblock %}

    
{% block list_bar %}
{% if big_screen %}
    {{ block.super }}
{% endif %}
{% endblock %}


{% block detail %}
    <div id="detail" class="detail">
        <div class="detail_head">
            <div class="icon selected">
                <i class="fa-solid fa-archway fa-2x"></i>
            </div>
{% if venue %}
            <h2>{{ venue.name }}</h2>
            <div class="drop_down head_more">
                <div class="btn drop" data-down="false">
                    <i class="fa-solid fa-ellipsis-vertical fa-2x"></i>
                </div>
                <div class="down hidden">
                </div>
            </div>
            <a class="btn special2 head_back" href="{% url target venue=prev %}">
                <i class="fa-solid fa-chevron-left fa-2x"></i>
            </a>
            <a class="btn special2 head_fwd" href="{% url target venue=next %}">
                <i class="fa-solid fa-chevron-right fa-2x"></i>
            </a>
{% else %}
            <h2>Add Venue</h2>
{% endif %}
        </div>
        <div class="pole">
            <h2>{{ venue.name }}</h2>
                <h2>ADDRESS</h2>
                <p>
                    <a href='https://www.google.com/maps/search/?api=1&query=Google&query_place_id={{ venue.placeid }}'  target='_blank' rel='noopener'>
                        <i class="fa-solid fa-location-dot fa-lg"></i>
                    </a>    
                    {{ venue.address }}
                    <button onclick=" navigator.clipboard.writeText('{{ venue.address }}');">
                        <i class="fa-regular fa-copy fa-lg"></i>
                    </button>
                </p>
                <h2>WEBSITE</h2>
                <p><a href='{{ venue.url }}' target='_blank' rel='noopener'>website</a>
                <h2>PHONE</h2>
                <p>{{ venue.phone }}</p>
                <h2>OPEN HOURS</h2>
                <p>{{ venue.open_week }}</p>
                <h2>TIMEZONE</h2>
                <p>{{ venue.tz }}</p>
                <h2>NOTE</h2>
                <p>{{ venue.note }}</p>
                <h2>MANAGERS</h2>
{% for manager in venue.managers.all %}
                <p>{{ manager }}</p>
{% endfor %}
                <h2>GAMES</h2>
{% for game in venue.games.all %}
                <p>{{ game }}</p>
{% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}


{% block map %}{% endblock map %}